Job: "Fit3l_XXXvariable"
  Label: "#it{Heavy Higgs}"
  CmeLabel: "13 TeV"
  LumiLabel: "140 fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "trexinputs/XXXvariable"
  DebugLevel: 0
  SystControlPlots: FALSE
  SystDataPlots: FALSE
  SystPruningShape: 0.01
  SystPruningNorm: 0.01
  SystLarge: 1
  CorrelationThreshold: 0.20
  RankingPlot: Systs
  RankingMaxNP: 30
  MCstatThreshold: 0.01
  StatOnly: False
  DoTables: FALSE
  ImageFormat: eps
  HistoChecks: NOCRASH
%  PlotOptions: "PREFITONPOSTFIT"
%  SystErrorBars: TRUE

Fit: "myFit"
  FitRegion: CRSR
  FitBlind: FALSE
  FitType: SPLUSB
  POIAsimov: 1
%  FitType: BONLY
%  POIAsimov: 0
  UseMinos: SigXsecOverSM
%  UseMinos: all
%  doLHscan: tau_trigger_L1jet,jet_jes_flavor_composition,btag_light_12

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: FALSE
  
Region: "Resolved_3l_SR"; "Boosted_3l_SR"
  Type: SIGNAL
  LogScale: XXXlog
  Rebin: XXXrebin
  VariableTitle: "XXXxaxis"
  Label: "Resolved_3l_SR"; "Boosted_3l_SR"
  ShortLabel: "Resolved_3l_SR"; "Boosted_3l_SR"
  HistoPathSuff: "/Resolved_3l_SR"; "/Boosted_3l_SR"
  DataType: ASIMOV

NormFactor: "SigXsecOverSM"
  Title: "#mu"
  Nominal: 1
  Min: -5
  Max: 10000
  Regions: Resolved_3l_SR, Boosted_3l_SR
