%Sample: "Data"
%  Type: DATA
%  Title: "Data"
%  HistoFile: "data"
%  HistoName: "NOMINAL"

Sample: "VVV"
  Type: BACKGROUND
  Title: "VVV"
  FillColorRGB: 244, 202, 172
  LineColor: 1
  HistoFile: "VVV"
  HistoName: "NOMINAL"

Sample: "Others"
  Type: BACKGROUND
  Title: "Others"
  FillColorRGB: 92, 182, 245
  LineColor: 1
  HistoFile: "Others"
  HistoName: "NOMINAL"

Sample: "DiBoson"
  Type: BACKGROUND
  Title: "DiBoson"
  FillColorRGB: 219, 130, 227
  LineColor: 1
  HistoFile: "DiBoson"
  HistoName: "NOMINAL"

%Sample: "ZZ"
%  Type: BACKGROUND
%  Title: "ZZ"
%  FillColorRGB: 190, 174, 212
%  LineColor: 1
%  HistoFile: "ZZ"
%  HistoName: "NOMINAL"
%
%Sample: "WZ"
%  Type: BACKGROUND
%  Title: "WZ"
%  FillColorRGB: 219, 130, 227
%  LineColor: 1
%  HistoFile: "WZ"
%  HistoName: "NOMINAL"

Sample: "TopX"
  Type: BACKGROUND
  Title: "top + X"
  FillColorRGB: 140, 150, 198
  LineColor: 1
  HistoFile: "TopX"
  HistoName: "NOMINAL"

%Sample: "tZ"
%  Type: BACKGROUND
%  Title: "tZ"
%  FillColorRGB: 6
%  LineColor: 1
%  HistoFile: "tZ"
%  HistoName: "NOMINAL"
%
%Sample: "ttW"
%  Type: BACKGROUND
%  Title: "ttW"
%  FillColorRGB: 95
%  LineColor: 1
%  HistoFile: "ttW"
%  HistoName: "NOMINAL"
%
%Sample: "ttZ"
%  Type: BACKGROUND
%  Title: "ttZ"
%  FillColorRGB: 95
%  LineColor: 1
%  HistoFile: "ttZ"
%  HistoName: "NOMINAL"
