MultiFit: "combined"
  Label: "combined"
  Combine: TRUE
  Compare: FALSE
  CmeLabel: "13 TeV"
  LumiLabel: "139 pb^{-1}"
  ComparePOI: FALSE
  ComparePulls: FALSE
  CompareLimits: FALSE
  POIName: "SigXsecOverSM"
  POIRange: -10:30
  DataName: "asimovData"
  CombineChByCh: TRUE

Fit: "Fitreg1l1tau1b2j_os"
  ConfigFile: config/reg1l1tau1b2j_os/BDTG_test.config
  Label: "SR"

Fit: "Fitreg1l1tau1b3j_os"
  ConfigFile: config/reg1l1tau1b3j_os/BDTG_test.config
  Label: "SR"

Fit: "Fitreg1l1tau2bnj_os"
  ConfigFile: config/reg1l2tau1bnj_os/BDTG_test.config
  Label: "SR"
