
%%%%%%%%%%%%%%%%%%%%%%%%%%
% Fake systematics
%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic:"fakeSFNP_1prong_ptbin0_w_jet_fake_os"
Title:"fakeSFNP_1prong_ptbin0_w_jet_fake_os"
Type:HISTO
HistoNameUp:fakeSFNP_1prong_ptbin0_w_jet_fake_os
Samples: w_jet_fake_os
Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
Category: Instrument
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_3prong_ptbin0_w_jet_fake_os"
Title:"fakeSFNP_3prong_ptbin0_w_jet_fake_os"
Type:HISTO
HistoNameUp:fakeSFNP_3prong_ptbin0_w_jet_fake_os
Samples: w_jet_fake_os
Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
Category: Instrument
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_1prong_ptbin1_w_jet_fake_os"
Title:"fakeSFNP_1prong_ptbin1_w_jet_fake_os"
Type:HISTO
HistoNameUp:fakeSFNP_1prong_ptbin1_w_jet_fake_os
Samples: w_jet_fake_os
Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
Category: Instrument
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_3prong_ptbin1_w_jet_fake_os"
Title:"fakeSFNP_3prong_ptbin1_w_jet_fake_os"
Type:HISTO
HistoNameUp:fakeSFNP_3prong_ptbin1_w_jet_fake_os
Samples: w_jet_fake_os
Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
Category: Instrument
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_1prong_ptbin2_w_jet_fake_os"
Title:"fakeSFNP_1prong_ptbin2_w_jet_fake_os"
Type:HISTO
HistoNameUp:fakeSFNP_1prong_ptbin2_w_jet_fake_os
Samples: w_jet_fake_os
Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
Category: Instrument
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_3prong_ptbin2_w_jet_fake_os"
Title:"fakeSFNP_3prong_ptbin2_w_jet_fake_os"
Type:HISTO
HistoNameUp:fakeSFNP_3prong_ptbin2_w_jet_fake_os
Samples: w_jet_fake_os
Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
Category: Instrument
Symmetrisation: ONESIDED


Systematic:"fakeSFNP_1prong_ptbin0_w_jet_fake_ss"
Title:"fakeSFNP_1prong_ptbin0_w_jet_fake_ss"
Type:HISTO
HistoNameUp:fakeSFNP_1prong_ptbin0_w_jet_fake_ss
Samples: w_jet_fake_ss
Regions: reg1l1tau1b3j_ss, reg1l1tau1b2j_ss, reg1l2tau1bnj_ss
Category: Instrument
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_3prong_ptbin0_w_jet_fake_ss"
Title:"fakeSFNP_3prong_ptbin0_w_jet_fake_ss"
Type:HISTO
HistoNameUp:fakeSFNP_3prong_ptbin0_w_jet_fake_ss
Samples: w_jet_fake_ss
Regions: reg1l1tau1b3j_ss, reg1l1tau1b2j_ss, reg1l2tau1bnj_ss
Category: Instrument
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_1prong_ptbin1_w_jet_fake_ss"
Title:"fakeSFNP_1prong_ptbin1_w_jet_fake_ss"
Type:HISTO
HistoNameUp:fakeSFNP_1prong_ptbin1_w_jet_fake_ss
Samples: w_jet_fake_ss
Regions: reg1l1tau1b3j_ss, reg1l1tau1b2j_ss, reg1l2tau1bnj_ss
Category: Instrument
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_3prong_ptbin1_w_jet_fake_ss"
Title:"fakeSFNP_3prong_ptbin1_w_jet_fake_ss"
Type:HISTO
HistoNameUp:fakeSFNP_3prong_ptbin1_w_jet_fake_ss
Samples: w_jet_fake_ss
Regions: reg1l1tau1b3j_ss, reg1l1tau1b2j_ss, reg1l2tau1bnj_ss
Category: Instrument
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_1prong_ptbin2_w_jet_fake_ss"
Title:"fakeSFNP_1prong_ptbin2_w_jet_fake_ss"
Type:HISTO
HistoNameUp:fakeSFNP_1prong_ptbin2_w_jet_fake_ss
Samples: w_jet_fake_ss
Regions: reg1l1tau1b3j_ss, reg1l1tau1b2j_ss, reg1l2tau1bnj_ss
Category: Instrument
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_3prong_ptbin2_w_jet_fake_ss"
Title:"fakeSFNP_3prong_ptbin2_w_jet_fake_ss"
Type:HISTO
HistoNameUp:fakeSFNP_3prong_ptbin2_w_jet_fake_ss
Samples: w_jet_fake_ss
Regions: reg1l1tau1b3j_ss, reg1l1tau1b2j_ss, reg1l2tau1bnj_ss
Category: Instrument
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_1prong_ptbin0_other_fake"
Title:"fakeSFNP_1prong_ptbin0_other_fake"
Type:HISTO
HistoNameUp:fakeSFNP_1prong_ptbin0_other_fake
Samples: other_fake
Regions: all
Category: Fake method
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_3prong_ptbin0_other_fake"
Title:"fakeSFNP_3prong_ptbin0_other_fake"
Type:HISTO
HistoNameUp:fakeSFNP_3prong_ptbin0_other_fake
Samples: other_fake
Regions: all
Category: Fake method
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_1prong_ptbin1_other_fake"
Title:"fakeSFNP_1prong_ptbin1_other_fake"
Type:HISTO
HistoNameUp:fakeSFNP_1prong_ptbin1_other_fake
Samples: other_fake
Regions: all
Category: Fake method
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_3prong_ptbin1_other_fake"
Title:"fakeSFNP_3prong_ptbin1_other_fake"
Type:HISTO
HistoNameUp:fakeSFNP_3prong_ptbin1_other_fake
Samples: other_fake
Regions: all
Category: Fake method
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_1prong_ptbin2_other_fake"
Title:"fakeSFNP_1prong_ptbin2_other_fake"
Type:HISTO
HistoNameUp:fakeSFNP_1prong_ptbin2_other_fake
Samples: other_fake
Regions: all
Category: Fake method
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_3prong_ptbin2_other_fake"
Title:"fakeSFNP_3prong_ptbin2_other_fake"
Type:HISTO
HistoNameUp:fakeSFNP_3prong_ptbin2_other_fake
Samples: other_fake
Regions: all
Category: Fake method
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_1prong_ptbin0_b_fake"
Title:"fakeSFNP_1prong_ptbin0_b_fake"
Type:HISTO
HistoNameUp:fakeSFNP_1prong_ptbin0_b_fake
Samples: b_fake
Regions: all
Category: Fake method
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_3prong_ptbin0_b_fake"
Title:"fakeSFNP_3prong_ptbin0_b_fake"
Type:HISTO
HistoNameUp:fakeSFNP_3prong_ptbin0_b_fake
Samples: b_fake
Regions: all
Category: Fake method
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_1prong_ptbin1_b_fake"
Title:"fakeSFNP_1prong_ptbin1_b_fake"
Type:HISTO
HistoNameUp:fakeSFNP_1prong_ptbin1_b_fake
Samples: b_fake
Regions: all
Category: Fake method
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_3prong_ptbin1_b_fake"
Title:"fakeSFNP_3prong_ptbin1_b_fake"
Type:HISTO
HistoNameUp:fakeSFNP_3prong_ptbin1_b_fake
Samples: b_fake
Regions: all
Category: Fake method
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_1prong_ptbin2_b_fake"
Title:"fakeSFNP_1prong_ptbin2_b_fake"
Type:HISTO
HistoNameUp:fakeSFNP_1prong_ptbin2_b_fake
Samples: b_fake
Regions: all
Category: Fake method
Symmetrisation: ONESIDED

Systematic:"fakeSFNP_3prong_ptbin2_b_fake"
Title:"fakeSFNP_3prong_ptbin2_b_fake"
Type:HISTO
HistoNameUp:fakeSFNP_3prong_ptbin2_b_fake
Samples: b_fake
Regions: all
Category: Fake method
Symmetrisation: ONESIDED

Systematic:"ABCD_muon"
Title:"ABCD_muon"
Type:HISTO
HistoNameUp:ABCD_muon
Samples: QCD_muon
Regions: all
Category: Fake method
Symmetrisation: ONESIDED

Systematic:"ABCD_electron"
Title:"ABCD_electron"
Type:HISTO
HistoNameUp:ABCD_electron
Samples: QCD_electron
Regions: all
Category: Fake method
Symmetrisation: ONESIDED
