Job: "XXXjobname"
  Label: "#it{FCNC tqH H#rightarrow#tau^{+}#tau^{-}}"
  CmeLabel: "13 TeV"
  LumiLabel: "140 fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "trexinputs/XXXvariable"
  DebugLevel: 0
  SystControlPlots: FALSE
  SystDataPlots: TRUE
  SystPruningShape: 0.01
  SystPruningNorm: 0.01
  SystLarge: 1
  CorrelationThreshold: 0.20
  RankingPlot: Systs
  RankingMaxNP: 30
  MCstatThreshold: 0.01
  StatOnly: False
  DoTables: FALSE
  ImageFormat: eps
  HistoChecks: NOCRASH
%  PlotOptions: "PREFITONPOSTFIT"
%  SystErrorBars: TRUE

Fit: "myFit"
  FitRegion: CRSR
  FitBlind: FALSE
  FitType: SPLUSB
  POIAsimov: 1
%  FitType: BONLY
%  POIAsimov: 0
  UseMinos: SigXsecOverSM
%  UseMinos: all
%  doLHscan: tau_trigger_L1jet,jet_jes_flavor_composition,btag_light_12

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: FALSE

Region: "reg1l1tau1b3j_os"; "reg1l1tau1b2j_os"; "reg1l2tau1bnj_os"
  Type: SIGNAL
  LogScale: XXXlog
  Rebin: XXXrebin
  VariableTitle: "XXXxaxis"
  Label: "TTH #it{#tau_{lep}#tau_{had}}"; "STH #it{#tau_{lep}#tau_{had}}"; "#it{l#tau_{had}#tau_{had}}"
  ShortLabel: "lh 4j"; "lh 3j"; "lhh"
  HistoPathSuff: "/reg1l1tau1b3j_os"; "/reg1l1tau1b2j_os"; "/reg1l2tau1bnj_os"
  DataType: ASIMOV
  Binning: -1,-0.4,0.1,0.3,0.5,0.65,0.75,0.85,1

Sample: "Data"
  Type: DATA
  Title: "Data"
  HistoFile: "data"
  HistoName: "NOMINAL"

Sample: "wjet-fake"
  Type: BACKGROUND
  Title: "W-jet faking"
  FillColor: 9
  LineColor: 1
  HistoFile: "wjet-fake"
  HistoName: "NOMINAL"

Sample: "XXXsig"
  Type: SIGNAL
  Title: "XXXsrvt"
  LineColor : 1
  FillColor: 2
  UseMCstat: FALSE
  HistoFile: "XXXsig"
  HistoName: "NOMINAL"

Sample: "diboson"
  Type: BACKGROUND
  Title: "Diboson"
  FillColor: 6
  LineColor: 1
  HistoFile: "diboson"
  HistoName: "NOMINAL"

Sample: "fake"
  Type: BACKGROUND
  Title: "Fake #tau MC"
  FillColor: 7
  LineColor: 1
  HistoFile: "fake"
  HistoName: "NOMINAL"

Sample: "others"
  Type: BACKGROUND
  Title: "Rare"
  FillColor: 8
  LineColor: 1
  HistoFile: "others"
  HistoName: "NOMINAL"

Sample: "smhiggs"
  Type: BACKGROUND
  Title: "SM Higgs"
  FillColor: 11
  LineColor: 1
  HistoFile: "smhiggs"
  HistoName: "NOMINAL"

Sample: "ttbar"
  Type: BACKGROUND
  Title: "#bar{t}t"
  FillColor: 3
  LineColor: 1
  HistoFile: "ttbar"
  HistoName: "NOMINAL"

Sample: "ttV"
  Type: BACKGROUND
  Title: "#bar{t}tV"
  FillColor: 4
  LineColor: 1
  HistoFile: "ttV"
  HistoName: "NOMINAL"

%Sample: "wjet"
%  Type: BACKGROUND
%  Title: "W+jets"
%  FillColor: 5
%  LineColor: 1
%  HistoFile: "wjet"
%  HistoName: "NOMINAL"

Sample: "ztautau"
  Type: BACKGROUND
  Title: "Z#rightarrow#tau#tau"
  FillColor: 6
  LineColor: 1
  HistoFile: "ztautau"
  HistoName: "NOMINAL"

%Sample: "zll"
%  Type: BACKGROUND
%  Title: "Z#rightarrowee,#mu#mu"
%  FillColor: 95
%  LineColor: 1
%  HistoFile: "zll"
%  HistoName: "NOMINAL"

NormFactor: "SigXsecOverSM"
  Title: "#mu"
  Nominal: 0.5
  Min: -5
  Max: 5
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os
  Samples: XXXsig


%%%%%%%%%%%%%
% systematics
%%%%%%%%%%%%%


Systematic:"PRW"
Title:"PRW"
Type:HISTO
HistoNameUp:PRW_up
HistoNameDown:PRW_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"jvt"
Title:"jvt"
Type:HISTO
HistoNameUp:jvt_up
HistoNameDown:jvt_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_B_0"
Title:"btag_B_0"
Type:HISTO
HistoNameUp:btag_B_0_up
HistoNameDown:btag_B_0_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_B_1"
Title:"btag_B_1"
Type:HISTO
HistoNameUp:btag_B_1_up
HistoNameDown:btag_B_1_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_B_2"
Title:"btag_B_2"
Type:HISTO
HistoNameUp:btag_B_2_up
HistoNameDown:btag_B_2_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_B_3"
Title:"btag_B_3"
Type:HISTO
HistoNameUp:btag_B_3_up
HistoNameDown:btag_B_3_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_B_4"
Title:"btag_B_4"
Type:HISTO
HistoNameUp:btag_B_4_up
HistoNameDown:btag_B_4_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_B_5"
Title:"btag_B_5"
Type:HISTO
HistoNameUp:btag_B_5_up
HistoNameDown:btag_B_5_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_B_6"
Title:"btag_B_6"
Type:HISTO
HistoNameUp:btag_B_6_up
HistoNameDown:btag_B_6_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_B_7"
Title:"btag_B_7"
Type:HISTO
HistoNameUp:btag_B_7_up
HistoNameDown:btag_B_7_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_B_8"
Title:"btag_B_8"
Type:HISTO
HistoNameUp:btag_B_8_up
HistoNameDown:btag_B_8_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_C_0"
Title:"btag_C_0"
Type:HISTO
HistoNameUp:btag_C_0_up
HistoNameDown:btag_C_0_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_C_1"
Title:"btag_C_1"
Type:HISTO
HistoNameUp:btag_C_1_up
HistoNameDown:btag_C_1_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_C_2"
Title:"btag_C_2"
Type:HISTO
HistoNameUp:btag_C_2_up
HistoNameDown:btag_C_2_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_C_3"
Title:"btag_C_3"
Type:HISTO
HistoNameUp:btag_C_3_up
HistoNameDown:btag_C_3_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_Light_0"
Title:"btag_Light_0"
Type:HISTO
HistoNameUp:btag_Light_0_up
HistoNameDown:btag_Light_0_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_Light_1"
Title:"btag_Light_1"
Type:HISTO
HistoNameUp:btag_Light_1_up
HistoNameDown:btag_Light_1_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_Light_2"
Title:"btag_Light_2"
Type:HISTO
HistoNameUp:btag_Light_2_up
HistoNameDown:btag_Light_2_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_Light_3"
Title:"btag_Light_3"
Type:HISTO
HistoNameUp:btag_Light_3_up
HistoNameDown:btag_Light_3_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_Light_4"
Title:"btag_Light_4"
Type:HISTO
HistoNameUp:btag_Light_4_up
HistoNameDown:btag_Light_4_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_extrapolation"
Title:"btag_extrapolation"
Type:HISTO
HistoNameUp:btag_extrapolation_up
HistoNameDown:btag_extrapolation_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"btag_extrapolation_from_charm"
Title:"btag_extrapolation_from_charm"
Type:HISTO
HistoNameUp:btag_extrapolation_from_charm_up
HistoNameDown:btag_extrapolation_from_charm_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"Ele_Reco"
Title:"Ele_Reco"
Type:HISTO
HistoNameUp:Ele_Reco_up
HistoNameDown:Ele_Reco_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"Ele_ID"
Title:"Ele_ID"
Type:HISTO
HistoNameUp:Ele_ID_up
HistoNameDown:Ele_ID_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"Ele_Isol"
Title:"Ele_Isol"
Type:HISTO
HistoNameUp:Ele_Isol_up
HistoNameDown:Ele_Isol_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"Mu_ID_STAT"
Title:"Mu_ID_STAT"
Type:HISTO
HistoNameUp:Mu_ID_STAT_up
HistoNameDown:Mu_ID_STAT_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"Mu_ID_SYST"
Title:"Mu_ID_SYST"
Type:HISTO
HistoNameUp:Mu_ID_SYST_up
HistoNameDown:Mu_ID_SYST_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"Mu_ID_STAT_LOWPT"
Title:"Mu_ID_STAT_LOWPT"
Type:HISTO
HistoNameUp:Mu_ID_STAT_LOWPT_up
HistoNameDown:Mu_ID_STAT_LOWPT_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"Mu_ID_SYST_LOWPT"
Title:"Mu_ID_SYST_LOWPT"
Type:HISTO
HistoNameUp:Mu_ID_SYST_LOWPT_up
HistoNameDown:Mu_ID_SYST_LOWPT_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"Mu_Isol_STAT"
Title:"Mu_Isol_STAT"
Type:HISTO
HistoNameUp:Mu_Isol_STAT_up
HistoNameDown:Mu_Isol_STAT_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"Mu_Isol_SYST"
Title:"Mu_Isol_SYST"
Type:HISTO
HistoNameUp:Mu_Isol_SYST_up
HistoNameDown:Mu_Isol_SYST_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"Mu_TTVA_STAT"
Title:"Mu_TTVA_STAT"
Type:HISTO
HistoNameUp:Mu_TTVA_STAT_up
HistoNameDown:Mu_TTVA_STAT_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"Mu_TTVA_SYST"
Title:"Mu_TTVA_SYST"
Type:HISTO
HistoNameUp:Mu_TTVA_SYST_up
HistoNameDown:Mu_TTVA_SYST_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"tauEveto_TOTAL"
Title:"tauEveto_TOTAL"
Type:HISTO
HistoNameUp:tauEveto_TOTAL_up
HistoNameDown:tauEveto_TOTAL_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"tauEveto_E_TOTAL"
Title:"tauEveto_E_TOTAL"
Type:HISTO
HistoNameUp:tauEveto_E_TOTAL_up
HistoNameDown:tauEveto_E_TOTAL_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"tauID_TOTAL"
Title:"tauID_TOTAL"
Type:HISTO
HistoNameUp:tauID_TOTAL_up
HistoNameDown:tauID_TOTAL_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"tauID_HIGHPT"
Title:"tauID_HIGHPT"
Type:HISTO
HistoNameUp:tauID_HIGHPT_up
HistoNameDown:tauID_HIGHPT_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"tauRecon_TOTAL"
Title:"tauRecon_TOTAL"
Type:HISTO
HistoNameUp:tauRecon_TOTAL_up
HistoNameDown:tauRecon_TOTAL_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"tauRecon_HIGHPT"
Title:"tauRecon_HIGHPT"
Type:HISTO
HistoNameUp:tauRecon_HIGHPT_up
HistoNameDown:tauRecon_HIGHPT_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Title:"EG_RESOLUTION_ALL"
Type:HISTO
HistoNameUp:EG_RESOLUTION_ALL_up
HistoNameDown:EG_RESOLUTION_ALL_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"EG_SCALE_AF2"
Title:"EG_SCALE_AF2"
Type:HISTO
HistoNameUp:EG_SCALE_AF2_up
HistoNameDown:EG_SCALE_AF2_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"EG_SCALE_ALL"
Title:"EG_SCALE_ALL"
Type:HISTO
HistoNameUp:EG_SCALE_ALL_up
HistoNameDown:EG_SCALE_ALL_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_BJES_Response"
Title:"JET_BJES_Response"
Type:HISTO
HistoNameUp:EG_SCALE_ALL_up
HistoNameDown:JET_BJES_Response_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EFF_Detector1"
Title:"JET_EFF_Detector1"
Type:HISTO
HistoNameUp:JET_BJES_Response_up
HistoNameDown:JET_EFF_Detector1_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EFF_Mixed1"
Title:"JET_EFF_Mixed1"
Type:HISTO
HistoNameUp:JET_EFF_Detector1_up
HistoNameDown:JET_EFF_Mixed1_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EFF_Mixed2"
Title:"JET_EFF_Mixed2"
Type:HISTO
HistoNameUp:JET_EFF_Mixed1_up
HistoNameDown:JET_EFF_Mixed2_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EFF_Mixed3"
Title:"JET_EFF_Mixed3"
Type:HISTO
HistoNameUp:JET_EFF_Mixed2_up
HistoNameDown:JET_EFF_Mixed3_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EFF_Modelling1"
Title:"JET_EFF_Modelling1"
Type:HISTO
HistoNameUp:JET_EFF_Mixed3_up
HistoNameDown:JET_EFF_Modelling1_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EFF_Modelling2"
Title:"JET_EFF_Modelling2"
Type:HISTO
HistoNameUp:JET_EFF_Modelling1_up
HistoNameDown:JET_EFF_Modelling2_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EFF_Modelling3"
Title:"JET_EFF_Modelling3"
Type:HISTO
HistoNameUp:JET_EFF_Modelling2_up
HistoNameDown:JET_EFF_Modelling3_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EFF_Modelling4"
Title:"JET_EFF_Modelling4"
Type:HISTO
HistoNameUp:JET_EFF_Modelling3_up
HistoNameDown:JET_EFF_Modelling4_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EFF_Statistical1"
Title:"JET_EFF_Statistical1"
Type:HISTO
HistoNameUp:JET_EFF_Modelling4_up
HistoNameDown:JET_EFF_Statistical1_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EFF_Statistical2"
Title:"JET_EFF_Statistical2"
Type:HISTO
HistoNameUp:JET_EFF_Statistical1_up
HistoNameDown:JET_EFF_Statistical2_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EFF_Statistical3"
Title:"JET_EFF_Statistical3"
Type:HISTO
HistoNameUp:JET_EFF_Statistical2_up
HistoNameDown:JET_EFF_Statistical3_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EFF_Statistical4"
Title:"JET_EFF_Statistical4"
Type:HISTO
HistoNameUp:JET_EFF_Statistical3_up
HistoNameDown:JET_EFF_Statistical4_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EFF_Statistical5"
Title:"JET_EFF_Statistical5"
Type:HISTO
HistoNameUp:JET_EFF_Statistical4_up
HistoNameDown:JET_EFF_Statistical5_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EFF_Statistical6"
Title:"JET_EFF_Statistical6"
Type:HISTO
HistoNameUp:JET_EFF_Statistical5_up
HistoNameDown:JET_EFF_Statistical6_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EtaInt_Modelling"
Title:"JET_EtaInt_Modelling"
Type:HISTO
HistoNameUp:JET_EFF_Statistical6_up
HistoNameDown:JET_EtaInt_Modelling_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EtaInt_NonClosure_highE"
Title:"JET_EtaInt_NonClosure_highE"
Type:HISTO
HistoNameUp:JET_EtaInt_Modelling_up
HistoNameDown:JET_EtaInt_NonClosure_highE_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EtaInt_NonClosure_negEta"
Title:"JET_EtaInt_NonClosure_negEta"
Type:HISTO
HistoNameUp:JET_EtaInt_NonClosure_highE_up
HistoNameDown:JET_EtaInt_NonClosure_negEta_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EtaInt_NonClosure_posEta"
Title:"JET_EtaInt_NonClosure_posEta"
Type:HISTO
HistoNameUp:JET_EtaInt_NonClosure_negEta_up
HistoNameDown:JET_EtaInt_NonClosure_posEta_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_EtaInt_TotalStat"
Title:"JET_EtaInt_TotalStat"
Type:HISTO
HistoNameUp:JET_EtaInt_NonClosure_posEta_up
HistoNameDown:JET_EtaInt_TotalStat_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_Flavor_Composition"
Title:"JET_Flavor_Composition"
Type:HISTO
HistoNameUp:JET_EtaInt_TotalStat_up
HistoNameDown:JET_Flavor_Composition_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_Flavor_Response"
Title:"JET_Flavor_Response"
Type:HISTO
HistoNameUp:JET_Flavor_Composition_up
HistoNameDown:JET_Flavor_Response_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_Pileup_OffsetMu"
Title:"JET_Pileup_OffsetMu"
Type:HISTO
HistoNameUp:JET_Flavor_Response_up
HistoNameDown:JET_Pileup_OffsetMu_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_Pileup_OffsetNPV"
Title:"JET_Pileup_OffsetNPV"
Type:HISTO
HistoNameUp:JET_Pileup_OffsetMu_up
HistoNameDown:JET_Pileup_OffsetNPV_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_Pileup_PtTerm"
Title:"JET_Pileup_PtTerm"
Type:HISTO
HistoNameUp:JET_Pileup_OffsetNPV_up
HistoNameDown:JET_Pileup_PtTerm_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_Pileup_RhoTopology"
Title:"JET_Pileup_RhoTopology"
Type:HISTO
HistoNameUp:JET_Pileup_PtTerm_up
HistoNameDown:JET_Pileup_RhoTopology_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_PunchThrough_MC16"
Title:"JET_PunchThrough_MC16"
Type:HISTO
HistoNameUp:JET_Pileup_RhoTopology_up
HistoNameDown:JET_PunchThrough_MC16_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_SingleParticle_HighPt"
Title:"JET_SingleParticle_HighPt"
Type:HISTO
HistoNameUp:JET_PunchThrough_MC16_up
HistoNameDown:JET_SingleParticle_HighPt_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"MET_SoftTrk_Scal"
Title:"MET_SoftTrk_Scale"
Type:HISTO
HistoNameUp:JET_SingleParticle_HighPt_up
HistoNameDown:MET_SoftTrk_ScaleDown
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"MUON_ID"
Title:"MUON_ID"
Type:HISTO
HistoNameUp:MET_SoftTrk_ScaleUp
HistoNameDown:MUON_ID_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"MUON_MS"
Title:"MUON_MS"
Type:HISTO
HistoNameUp:MUON_ID_up
HistoNameDown:MUON_MS_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"MUON_SAGITTA_RESBIAS"
Title:"MUON_SAGITTA_RESBIAS"
Type:HISTO
HistoNameUp:MUON_MS_up
HistoNameDown:MUON_SAGITTA_RESBIAS_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"MUON_SAGITTA_RHO"
Title:"MUON_SAGITTA_RHO"
Type:HISTO
HistoNameUp:MUON_SAGITTA_RESBIAS_up
HistoNameDown:MUON_SAGITTA_RHO_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"MUON_SCALE"
Title:"MUON_SCALE"
Type:HISTO
HistoNameUp:MUON_SAGITTA_RHO_up
HistoNameDown:MUON_SCALE_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"TES_DETECTOR"
Title:"TES_DETECTOR"
Type:HISTO
HistoNameUp:MUON_SCALE_up
HistoNameDown:TES_DETECTOR_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"TES_INSITU"
Title:"TES_INSITU"
Type:HISTO
HistoNameUp:TES_DETECTOR_up
HistoNameDown:TES_INSITU_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"TES_MODEL"
Title:"TES_MODEL"
Type:HISTO
HistoNameUp:TES_INSITU_up
HistoNameDown:TES_MODEL_down
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument

Systematic:"JET_JER_SINGLE_NP"
Title:"JET_JER"
Type:HISTO
HistoNameUp:JET_JER_SINGLE_NP_up
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument
Symmetrisation: ONESIDED

Systematic:"MET_SoftTrk_ResoPara"
Title:"MET_SoftTrk_ResoPara"
Type:HISTO
HistoNameUp:MET_SoftTrk_ResoPara
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument
Symmetrisation: ONESIDED

Systematic:"MET_SoftTrk_ResoPerp"
Title:"MET_SoftTrk_ResoPerp"
Type:HISTO
HistoNameUp:MET_SoftTrk_ResoPerp
Samples: all
Regions: reg1l2tau1bnj_os, reg1l1tau1b2j_os, reg1l1tau1b3j_os
Category: Instrument
Symmetrisation: ONESIDED
