Job: "XXXjobname"
  Label: "#it{FCNC tqH H#rightarrow#tau^{+}#tau^{-}}"
  CmeLabel: "13 TeV"
  LumiLabel: "140 fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "trexinputs/XXXvariable"
  DebugLevel: 0
  SystControlPlots: FALSE
  SystDataPlots: TRUE
  SystPruningShape: 0.01
  SystPruningNorm: 0.01
  SystLarge: 1
  CorrelationThreshold: 0.20
  RankingPlot: Systs
  RankingMaxNP: 30
  MCstatThreshold: 0.01
  StatOnly: False
  DoTables: FALSE
  ImageFormat: eps
  HistoChecks: NOCRASH
%  PlotOptions: "PREFITONPOSTFIT"
%  SystErrorBars: TRUE

Fit: "myFit"
  FitRegion: CRSR
  FitBlind: FALSE
  FitType: SPLUSB
  POIAsimov: 1
%  FitType: BONLY
%  POIAsimov: 0
  UseMinos: SigXsecOverSM
%  UseMinos: all
%  doLHscan: tau_trigger_L1jet,jet_jes_flavor_composition,btag_light_12

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: FALSE

Region: "reg1l1tau1b3j_os"; "reg1l1tau1b2j_os"; "reg1l2tau1bnj_os"
  Type: SIGNAL
  LogScale: XXXlog
  Rebin: XXXrebin
  VariableTitle: "XXXxaxis"
  Label: "TTH #it{#tau_{lep}#tau_{had}}"; "STH #it{#tau_{lep}#tau_{had}}"; "#it{l#tau_{had}#tau_{had}}"
  ShortLabel: "lh 4j"; "lh 3j"; "lhh"
  HistoPathSuff: "/reg1l1tau1b3j_os"; "/reg1l1tau1b2j_os"; "/reg1l2tau1bnj_os"
  DataType: ASIMOV
  Binning: -1,-0.4,0.1,0.3,0.5,0.65,0.75,0.85,1

Sample: "Data"
  Type: DATA
  Title: "Data"
  HistoFile: "data"
  HistoName: "NOMINAL"

Sample: "XXXsig"
  Type: SIGNAL
  Title: "XXXsrvt"
  LineColor : 1
  FillColor: 2
  UseMCstat: FALSE
  HistoFile: "XXXsig"
  HistoName: "fakeSF_tthML"

Sample: "diboson"
  Type: BACKGROUND
  Title: "Diboson"
  FillColor: 6
  LineColor: 1
  HistoFile: "diboson"
  HistoName: "fakeSF_tthML"

Sample: "fake"
  Type: BACKGROUND
  Title: "Fake #tau MC"
  FillColor: 7
  LineColor: 1
  HistoFile: "fake"
  HistoName: "fakeSF_tthML"

Sample: "others"
  Type: BACKGROUND
  Title: "Rare"
  FillColor: 8
  LineColor: 1
  HistoFile: "others"
  HistoName: "fakeSF_tthML"

Sample: "smhiggs"
  Type: BACKGROUND
  Title: "SM Higgs"
  FillColor: 11
  LineColor: 1
  HistoFile: "smhiggs"
  HistoName: "fakeSF_tthML"

Sample: "top"
  Type: BACKGROUND
  Title: "Rare Top"
  FillColor: 16
  LineColor: 1
  HistoFile: "top"
  HistoName: "fakeSF_tthML"

Sample: "ttbar"
  Type: BACKGROUND
  Title: "#bar{t}t"
  FillColor: 3
  LineColor: 1
  HistoFile: "ztautau"
  HistoName: "fakeSF_tthML"

Sample: "ttV"
  Type: BACKGROUND
  Title: "#bar{t}tV"
  FillColor: 4
  LineColor: 1
  HistoFile: "ttV"
  HistoName: "fakeSF_tthML"

%Sample: "wjet"
%  Type: BACKGROUND
%  Title: "W+jets"
%  FillColor: 5
%  LineColor: 1
%  HistoFile: "wjet"
%  HistoName: "fakeSF_tthML"

Sample: "ztautau"
  Type: BACKGROUND
  Title: "Z#rightarrow#tau#tau"
  FillColor: 6
  LineColor: 1
  HistoFile: "ztautau"
  HistoName: "fakeSF_tthML"

%Sample: "zll"
%  Type: BACKGROUND
%  Title: "Z#rightarrowee,#mu#mu"
%  FillColor: 95
%  LineColor: 1
%  HistoFile: "zll"
%  HistoName: "fakeSF_tthML"

NormFactor: "SigXsecOverSM"
  Title: "#mu"
  Nominal: 0.5
  Min: -5
  Max: 5
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os
  Samples: XXXsig


%%%%%%%%%%%%%
% systematics
%%%%%%%%%%%%%

  Systematic: "fakeSFNP_tthML_ptbin0_prongbin0"
  Title:"fake_ptbin0_1prong"
  Type: HISTO
  HistoNameUp: "fakeSFNP_tthML_ptbin0_prongbin0"
  Samples: fake
  Smoothing: 40
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: FakeMethod
  Symmetrisation: ONESIDED

  Systematic: "fakeSFNP_tthML_ptbin1_prongbin0"
  Title:"fake_ptbin1_1prong"
  Type: HISTO
  HistoNameUp: "fakeSFNP_tthML_ptbin1_prongbin0"
  Samples: fake
  Smoothing: 40
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: FakeMethod
  Symmetrisation: ONESIDED

  Systematic: "fakeSFNP_tthML_ptbin2_prongbin0"
  Title:"fake_ptbin2_1prong"
  Type: HISTO
  HistoNameUp: "fakeSFNP_tthML_ptbin2_prongbin0"
  Samples: fake
  Smoothing: 40
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: FakeMethod
  Symmetrisation: ONESIDED

  Systematic: "fakeSFNP_tthML_ptbin0_prongbin1"
  Title:"fake_ptbin0_3prong"
  Type: HISTO
  HistoNameUp: "fakeSFNP_tthML_ptbin0_prongbin1"
  Samples: fake
  Smoothing: 40
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: FakeMethod
  Symmetrisation: ONESIDED

  Systematic: "fakeSFNP_tthML_ptbin1_prongbin1"
  Title:"fake_ptbin1_3prong"
  Type: HISTO
  HistoNameUp: "fakeSFNP_tthML_ptbin1_prongbin1"
  Samples: fake
  Smoothing: 40
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: FakeMethod
  Symmetrisation: ONESIDED

  Systematic: "fakeSFNP_tthML_ptbin2_prongbin1"
  Title:"fake_ptbin2_3prong"
  Type: HISTO
  HistoNameUp: "fakeSFNP_tthML_ptbin2_prongbin1"
  Samples: fake
  Smoothing: 40
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: FakeMethod
  Symmetrisation: ONESIDED

  Systematic: "Ele_Reco"
  Title: "Ele_Reco"
  Type:HISTO
  HistoNameUp: "Ele_Reco_up"
  HistoNameDown: "Ele_Reco_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "Ele_ID"
  Title: "Ele_ID"
  Type:HISTO
  HistoNameUp: "Ele_ID_up"
  HistoNameDown: "Ele_ID_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "Ele_Isol"
  Title: "Ele_Isol"
  Type:HISTO
  HistoNameUp: "Ele_Isol_up"
  HistoNameDown: "Ele_Isol_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "Mu_ID_STAT"
  Title: "Mu_ID_STAT"
  Type:HISTO
  HistoNameUp: "Mu_ID_STAT_up"
  HistoNameDown: "Mu_ID_STAT_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "Mu_ID_SYST"
  Title: "Mu_ID_SYST"
  Type:HISTO
  HistoNameUp: "Mu_ID_SYST_up"
  HistoNameDown: "Mu_ID_SYST_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "Mu_ID_STAT_LOWPT"
  Title: "Mu_ID_STAT_LOWPT"
  Type:HISTO
  HistoNameUp: "Mu_ID_STAT_LOWPT_up"
  HistoNameDown: "Mu_ID_STAT_LOWPT_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "Mu_ID_SYST_LOWPT"
  Title: "Mu_ID_SYST_LOWPT"
  Type:HISTO
  HistoNameUp: "Mu_ID_SYST_LOWPT_up"
  HistoNameDown: "Mu_ID_SYST_LOWPT_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "Mu_Isol_STAT"
  Title: "Mu_Isol_STAT"
  Type:HISTO
  HistoNameUp: "Mu_Isol_STAT_up"
  HistoNameDown: "Mu_Isol_STAT_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "Mu_Isol_SYST"
  Title: "Mu_Isol_SYST"
  Type:HISTO
  HistoNameUp: "Mu_Isol_SYST_up"
  HistoNameDown: "Mu_Isol_SYST_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "Mu_TTVA_STAT"
  Title: "Mu_TTVA_STAT"
  Type:HISTO
  HistoNameUp: "Mu_TTVA_STAT_up"
  HistoNameDown: "Mu_TTVA_STAT_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "Mu_TTVA_SYST"
  Title: "Mu_TTVA_SYST"
  Type:HISTO
  HistoNameUp: "Mu_TTVA_SYST_up"
  HistoNameDown: "Mu_TTVA_SYST_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "tauEveto_TOTAL"
  Title: "tauEveto_TOTAL"
  Type:HISTO
  HistoNameUp: "tauEveto_TOTAL_up"
  HistoNameDown: "tauEveto_TOTAL_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "tauEveto_E_TOTAL"
  Title: "tauEveto_E_TOTAL"
  Type:HISTO
  HistoNameUp: "tauEveto_E_TOTAL_up"
  HistoNameDown: "tauEveto_E_TOTAL_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "tauID_TOTAL"
  Title: "tauID_TOTAL"
  Type:HISTO
  HistoNameUp: "tauID_TOTAL_up"
  HistoNameDown: "tauID_TOTAL_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "tauID_HIGHPT"
  Title: "tauID_HIGHPT"
  Type:HISTO
  HistoNameUp: "tauID_HIGHPT_up"
  HistoNameDown: "tauID_HIGHPT_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "tauRecon_TOTAL"
  Title: "tauRecon_TOTAL"
  Type:HISTO
  HistoNameUp: "tauRecon_TOTAL_up"
  HistoNameDown: "tauRecon_TOTAL_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument


  Systematic: "tauRecon_HIGHPT"
  Title: "tauRecon_HIGHPT"
  Type:HISTO
  HistoNameUp: "tauRecon_HIGHPT_up"
  HistoNameDown: "tauRecon_HIGHPT_down"
  Samples: all
  Regions: reg1l1tau1b3j_os, reg1l1tau1b2j_os, reg1l2tau1bnj_os
  Category: Instrument

