Job: "XXXvariable"
  Label: "#it{FCNC tqH H#rightarrow#tau^{+}#tau^{-}}"
  CmeLabel: "13 TeV"
  LumiLabel: "140 fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "trexinputs/XXXvariable"
  DebugLevel: 0
  SystControlPlots: TRUE
  SystDataPlots: TRUE
  SystPruningShape: 0.01
  SystPruningNorm: 0.01
  SystLarge: 1
  CorrelationThreshold: 0.20
  RankingPlot: Systs
  RankingMaxNP: 30
  MCstatThreshold: 0.01
  DoTables: FALSE
  ImageFormat: eps
  HistoChecks: NOCRASH
%  PlotOptions: "PREFITONPOSTFIT"
%  SystErrorBars: TRUE

Fit: "myFit"
  FitRegion: CRSR
  FitBlind: TRUE
  FitType: SPLUSB
  POIAsimov: 1
%  FitType: BONLY
%  POIAsimov: 0
  UseMinos: norm_fake_lh_4j,norm_fake_lh_3j,norm_fake_hh_4j,norm_fake_hh_3j,SigXsecOverSM
%  UseMinos: all
%  doLHscan: tau_trigger_L1jet,jet_jes_flavor_composition,btag_light_12

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: TRUE

Region: "reg2mtau1b3jos"; "reg2mtau1b2jos"
  Type: SIGNAL
  LogScale: XXXlog
  Rebin: XXXrebin
  VariableTitle: "XXXxaxis"
  Label: "#it{#tau_{had}#tau_{had}} + #geq 4jet"; "#it{#tau_{had}#tau_{had}} + 3jet"
  ShortLabel: "hh 4j"; "hh 3j"
  HistoPathSuff: "/reg2mtau1b3jos"; "/reg2mtau1b2jos"
  %Rebinning: "AutoBin","TransfoD",5.,6.
  Binning: -1,0.2,0.5,0.7,0.8,0.9,1
  DataType: ASIMOV

Sample: "Data"
  Type: DATA
  Title: "Data"
  HistoFile: "data"
  HistoName: "NOMINAL"

Sample: "XXXsig"
  Type: SIGNAL
  Title: "XXXsrvt"
  LineColor : 1
  FillColor: 2
  UseMCstat: FALSE
  HistoFile: "XXXsig"
  HistoName: "NOMINAL"

Sample: "fakeSS"
  Type: BACKGROUND
  Title: "Fake #tau"
  FillColor: 5
  LineColor: 1
  HistoFile: "fakeSS"
  HistoName: "NOMINAL"

Sample: "fakeMC"
  Type: BACKGROUND
  Title: "Fake #tau MC"
  FillColor: 7
  LineColor: 1
  HistoFile: "fake"
  HistoName: "NOMINAL"

Sample: "top"
  Type: BACKGROUND
  Title: "Top (real #tau)"
  FillColor: 16
  LineColor: 1
  HistoFile: "top"
  HistoName: "NOMINAL"

%Sample: "zll"
%  Type: BACKGROUND
%  Title: "Z#rightarrowee,#mu#mu"
%  FillColor: 95
%  LineColor: 1
%  HistoFile: "zll"
%  HistoName: "NOMINAL"

Sample: "ztt"
  Type: BACKGROUND
  Title: "Z#rightarrow#tau#tau"
  FillColor: 3
  LineColor: 1
  HistoFile: "ztautau"
  HistoName: "NOMINAL"

Sample: "diboson"
  Type: BACKGROUND
  Title: "Diboson"
  FillColor: -4
  LineColor: 1
  HistoFile: "diboson"
  HistoName: "NOMINAL"

NormFactor: "SigXsecOverSM"
  Title: "#mu"
  Nominal: 0.5
  Min: -5
  Max: 5
  Samples: XXXsig


%NormFactor: "signalnorm"
%  Title: "signalnorm"
%  Nominal: 5
%  Min: 5
%  Max: 5
%  Samples: XXXsig


%%%%%%%%%%%%%
% systematics
%%%%%%%%%%%%%



%%  Systematic: "TAUS_TRUEHADTAU_EFF_JETID_SYST"
%%  Title: "TauID_SYST"
%%  Type: HISTO
%%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_JETID_SYST_1up_TauEffSF_JetBDTmedium"
%%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_JETID_SYST_1down_TauEffSF_JetBDTmedium"
%%  Samples: all
%%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%%  Category: TAUID
%%  
%%  Systematic: "norm_fake_hh_3j"
%%  Title: "norm_fake_hh_3j"
%%  Type: OVERALL
%%  OverallUp: 0.22049135
%%  OverallDown: -0.22049135
%%  Samples: fakeSS
%%  Regions: reg2mtau1b2jos
%%  Category: FakeMethod
%%
%%  Systematic: "norm_fake_hh_4j"
%%  Title: "norm_fake_hh_4j"
%%  Type: OVERALL
%%  OverallUp: 0.22049135
%%  OverallDown: -0.22049135
%%  Samples: fakeSS
%%  Regions: reg2mtau1b3jos
%%  Category: FakeMethod
%
%  Systematic: "JET_EffectiveNP_Modelling1"
%  Title: "JET_EffectiveNP_Modelling1"
%  Type: HISTO
%  HistoNameUp: "JET_EffectiveNP_Modelling1_1up"
%  HistoNameDown: "JET_EffectiveNP_Modelling1_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%
%  Systematic: "TAUS_TRUEHADTAU_SME_TES_DETECTOR"
%  Title: "TAUS_SME_TES_DETECTOR"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_SME_TES_DETECTOR_1up"
%  HistoNameDown: "TAUS_TRUEHADTAU_SME_TES_DETECTOR_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TES
%
%  Systematic: "LumiUncertainty"
%  Title: "LumiUncertainty"
%  Type: OVERALL
%  OverallUp: 0.017
%  OverallDown: -0.017
%  Samples: All
%  Regions: reg2mtau1b3jos, reg2mtau1b2jos
%  Category: Lumi
%
%  Systematic: "zttXsec"
%  Title: "Ztautau theory Xsec"
%  Type: OVERALL
%  OverallUp: 0.022
%  OverallDown: -0.029
%  Samples: ztt
%  Regions: reg2mtau1b3jos, reg2mtau1b2jos
%  Category: Theory
%
%  Systematic: "topXsec"
%  Title: "top theory Xsec"
%  Type: OVERALL
%  OverallUp: 0.023768876
%  OverallDown: -0.035106281
%  Samples: top
%  Regions: reg2mtau1b3jos, reg2mtau1b2jos
%  Category: Theory
%
%  Systematic: "ttbarsys_frag"
%  Title:"ttbar fragmentation"
%  Type: HISTO
%  HistoNameUp: "ttbarsys_frag"
%  Samples: top, fakeMC, fakeSS
%  Smoothing: 40
%  Regions: reg2mtau1b3jos, reg2mtau1b2jos
%  Symmetrisation: ONESIDED
%
%  Systematic: "ttbarsys_hscatter"
%  Title:"ttbar hard scattering"
%  Type: HISTO
%  HistoNameUp: "ttbarsys_hscatter"
%  Samples: top, fakeMC, fakeSS
%  Smoothing: 40
%  Regions: reg2mtau1b3jos, reg2mtau1b2jos
%  Symmetrisation: ONESIDED
%
%  Systematic: "fakeSFNP1"
%  Title:"fakeSF1prong1stPtbin"
%  Type: HISTO
%  HistoNameUp: "fakeSFNP1"
%  Samples: fakeMC, XXXsig
%  Smoothing: 40
%  Regions: reg2mtau1b3jos, reg2mtau1b2jos
%  Symmetrisation: ONESIDED
%
%%  Systematic: "fakeSFNP2"
%%  Title:"fakeSF1prong2ndPtbin"
%%  Type: HISTO
%%  HistoNameUp: "fakeSFNP2"
%%  Samples: fakeMC, XXXsig
%%  Smoothing: 40
%%  Regions: reg2mtau1b3jos, reg2mtau1b2jos
%%  Category: FakeMethod
%%  Symmetrisation: ONESIDED
%
%  Systematic: "fakeSFNP3"
%  Title:"fakeSF1prong3rdPtbin"
%  Type: HISTO
%  HistoNameUp: "fakeSFNP3"
%  Samples: fakeMC, XXXsig
%  Smoothing: 40
%  Regions: reg2mtau1b3jos, reg2mtau1b2jos
%  Category: FakeMethod
%  Symmetrisation: ONESIDED
%
%  Systematic: "fakeSFNP4"
%  Title:"fakeSF3prong1stPtbin"
%  Type: HISTO
%  HistoNameUp: "fakeSFNP4"
%  Samples: fakeMC, XXXsig
%  Smoothing: 40
%  Regions: reg2mtau1b3jos, reg2mtau1b2jos
%  Category: FakeMethod
%  Symmetrisation: ONESIDED
%
%%  Systematic: "fakeSFNP5"
%%  Title:"fakeSF3prong2ndPtbin"
%%  Type: HISTO
%%  HistoNameUp: "fakeSFNP5"
%%  Samples: fakeMC, XXXsig
%%  Smoothing: 40
%%  Regions: reg2mtau1b3jos, reg2mtau1b2jos
%%  Category: FakeMethod
%%  Symmetrisation: ONESIDED
%
%  Systematic: "fakeSFNP6"
%  Title:"fakeSF3prong3rdPtbin"
%  Type: HISTO
%  HistoNameUp: "fakeSFNP6"
%  Samples: fakeMC, XXXsig
%  Smoothing: 40
%  Regions: reg2mtau1b3jos, reg2mtau1b2jos
%  Category: FakeMethod
%  Symmetrisation: ONESIDED
%
%  Systematic: "PRW_DATASF"
%  Title: "PRW_DATASF"
%  Type: HISTO
%  HistoNameUp: "PRW_DATASF_1up_pileup_combined_weight"
%  HistoNameDown: "PRW_DATASF_1down_pileup_combined_weight"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: PRW
%
%
%  Systematic: "jet_FT_EFF_Eigen_B_0"
%  Title: "jet_FT_EFF_Eigen_B_0"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_B_0_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_B_0_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_B_1"
%  Title: "jet_FT_EFF_Eigen_B_1"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_B_1_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_B_1_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_B_2"
%  Title: "jet_FT_EFF_Eigen_B_2"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_B_2_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_B_2_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_B_3"
%  Title: "jet_FT_EFF_Eigen_B_3"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_B_3_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_B_3_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_B_4"
%  Title: "jet_FT_EFF_Eigen_B_4"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_B_4_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_B_4_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_B_5"
%  Title: "jet_FT_EFF_Eigen_B_5"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_B_5_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_B_5_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_B_6"
%  Title: "jet_FT_EFF_Eigen_B_6"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_B_6_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_B_6_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_B_7"
%  Title: "jet_FT_EFF_Eigen_B_7"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_B_7_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_B_7_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_B_8"
%  Title: "jet_FT_EFF_Eigen_B_8"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_B_8_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_B_8_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_C_0"
%  Title: "jet_FT_EFF_Eigen_C_0"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_C_0_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_C_0_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_C_1"
%  Title: "jet_FT_EFF_Eigen_C_1"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_C_1_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_C_1_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_C_2"
%  Title: "jet_FT_EFF_Eigen_C_2"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_C_2_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_C_2_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_C_3"
%  Title: "jet_FT_EFF_Eigen_C_3"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_C_3_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_C_3_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_Light_0"
%  Title: "jet_FT_EFF_Eigen_Light_0"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_Light_0_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_Light_0_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_Light_1"
%  Title: "jet_FT_EFF_Eigen_Light_1"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_Light_1_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_Light_1_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_Light_2"
%  Title: "jet_FT_EFF_Eigen_Light_2"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_Light_2_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_Light_2_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_Light_3"
%  Title: "jet_FT_EFF_Eigen_Light_3"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_Light_3_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_Light_3_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_Eigen_Light_4"
%  Title: "jet_FT_EFF_Eigen_Light_4"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_Eigen_Light_4_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_Eigen_Light_4_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_extrapolation"
%  Title: "jet_FT_EFF_extrapolation"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_extrapolation_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_extrapolation_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_FT_EFF_extrapolation_from_charm"
%  Title: "jet_FT_EFF_extrapolation_from_charm"
%  Type: HISTO
%  HistoNameUp: "jet_FT_EFF_extrapolation_from_charm_1up_global_effSF_MV2c10"
%  HistoNameDown: "jet_FT_EFF_extrapolation_from_charm_1down_global_effSF_MV2c10"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: FlavorTag
%
%  Systematic: "jet_JET_JvtEfficiency"
%  Title: "jet_JET_JvtEfficiency"
%  Type: HISTO
%  HistoNameUp: "jet_JET_JvtEfficiency_1up_central_jets_global_effSF_JVT"
%  HistoNameDown: "jet_JET_JvtEfficiency_1down_central_jets_global_effSF_JVT"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JVT
%
%  Systematic: "jet_JET_fJvtEfficiency"
%  Title: "jet_JET_fJvtEfficiency"
%  Type: HISTO
%  HistoNameUp: "jet_JET_fJvtEfficiency_1up_forward_jets_global_effSF_JVT"
%  HistoNameDown: "jet_JET_fJvtEfficiency_1down_forward_jets_global_effSF_JVT"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JVT
%
%  Systematic: "TAUS_TRUEELECTRON_EFF_ELEOLR_STATHIGHMU"
%  Title: "TauELEOLR_ELE_STATHIGHMU"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEELECTRON_EFF_ELEOLR_STATHIGHMU_1up_TauEffSF_selection"
%  HistoNameDown: "TAUS_TRUEELECTRON_EFF_ELEOLR_STATHIGHMU_1down_TauEffSF_selection"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUELEOLR
%
%
%  Systematic: "TAUS_TRUEELECTRON_EFF_ELEOLR_STATLOWMU"
%  Title: "TauELEOLR_ELE_STATLOWMU"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEELECTRON_EFF_ELEOLR_STATLOWMU_1up_TauEffSF_selection"
%  HistoNameDown: "TAUS_TRUEELECTRON_EFF_ELEOLR_STATLOWMU_1down_TauEffSF_selection"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUELEOLR
%
%
%  Systematic: "TAUS_TRUEELECTRON_EFF_ELEOLR_SYST"
%  Title: "TauELEOLR_ELE_SYST"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEELECTRON_EFF_ELEOLR_SYST_1up_TauEffSF_selection"
%  HistoNameDown: "TAUS_TRUEELECTRON_EFF_ELEOLR_SYST_1down_TauEffSF_selection"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUELEOLR
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_ELEOLR_TOTAL_HadTau"
%  Title: "TauELEOLR_TOTAL"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_ELEOLR_TOTAL_1up_TauEffSF_HadTauEleOLR_tauhad"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_ELEOLR_TOTAL_1down_TauEffSF_HadTauEleOLR_tauhad"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUELEOLR
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_ELEOLR_TOTAL"
%  Title: "TauELEOLR_TOTAL"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_ELEOLR_TOTAL_1up_TauEffSF_selection"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_ELEOLR_TOTAL_1down_TauEffSF_selection"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUELEOLR
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_JETID_1PRONGSTATSYSTUNCORR2025"
%  Title: "TauID_1PRONG2025"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_JETID_1PRONGSTATSYSTUNCORR2025_1up_TauEffSF_JetBDTmedium"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_JETID_1PRONGSTATSYSTUNCORR2025_1down_TauEffSF_JetBDTmedium"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUID
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_JETID_1PRONGSTATSYSTUNCORR2530"
%  Title: "TauID_1PRONG2530"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_JETID_1PRONGSTATSYSTUNCORR2530_1up_TauEffSF_JetBDTmedium"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_JETID_1PRONGSTATSYSTUNCORR2530_1down_TauEffSF_JetBDTmedium"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUID
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_JETID_1PRONGSTATSYSTUNCORR3040"
%  Title: "TauID_1PRONG3040"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_JETID_1PRONGSTATSYSTUNCORR3040_1up_TauEffSF_JetBDTmedium"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_JETID_1PRONGSTATSYSTUNCORR3040_1down_TauEffSF_JetBDTmedium"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUID
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_JETID_1PRONGSTATSYSTUNCORRGE40"
%  Title: "TauID_1PRONGGE40"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_JETID_1PRONGSTATSYSTUNCORRGE40_1up_TauEffSF_JetBDTmedium"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_JETID_1PRONGSTATSYSTUNCORRGE40_1down_TauEffSF_JetBDTmedium"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUID
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_JETID_3PRONGSTATSYSTUNCORR2030"
%  Title: "TauID_3PRONG2030"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_JETID_3PRONGSTATSYSTUNCORR2030_1up_TauEffSF_JetBDTmedium"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_JETID_3PRONGSTATSYSTUNCORR2030_1down_TauEffSF_JetBDTmedium"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUID
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_JETID_3PRONGSTATSYSTUNCORRGE30"
%  Title: "TauID_3PRONGGE30"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_JETID_3PRONGSTATSYSTUNCORRGE30_1up_TauEffSF_JetBDTmedium"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_JETID_3PRONGSTATSYSTUNCORRGE30_1down_TauEffSF_JetBDTmedium"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUID
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_JETID_HIGHPT"
%  Title: "TauID_HIGHPT"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_JETID_HIGHPT_1up_TauEffSF_JetBDTmedium"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_JETID_HIGHPT_1down_TauEffSF_JetBDTmedium"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUID
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_RECO_HIGHPT"
%  Title: "TauRECO_HIGHPT"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_RECO_HIGHPT_1up_TauEffSF_reco"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_RECO_HIGHPT_1down_TauEffSF_reco"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAURECON
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_RECO_TOTAL"
%  Title: "TauRECO_TOTAL"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_RECO_TOTAL_1up_TauEffSF_reco"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_RECO_TOTAL_1down_TauEffSF_reco"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAURECON
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_RECO_HIGHPT_selection"
%  Title: "TauRECO_HIGHPT_selection"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_RECO_HIGHPT_1up_TauEffSF_selection"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_RECO_HIGHPT_1down_TauEffSF_selection"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAURECON
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_RECO_TOTAL_selection"
%  Title: "TauRECO_TOTAL_selection"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_RECO_TOTAL_1up_TauEffSF_selection"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_RECO_TOTAL_1down_TauEffSF_selection"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAURECON
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2015_tau25"
%  Title: "TauTRIGGER_STATDATA2015_tau25"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2015_1up_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2015_1down_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2016_tau25"
%  Title: "TauTRIGGER_STATDATA2016_tau25"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2016_1up_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2016_1down_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2017_tau25"
%  Title: "TauTRIGGER_STATDATA2017_tau25"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2017_1up_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2017_1down_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2015_tau25"
%  Title: "TauTRIGGER_STATMC2015_tau25"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2015_1up_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2015_1down_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2016_tau25"
%  Title: "TauTRIGGER_STATMC2016_tau25"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2016_1up_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2016_1down_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2017_tau25"
%  Title: "TauTRIGGER_STATMC2017_tau25"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2017_1up_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2017_1down_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2015_tau25"
%  Title: "TauTRIGGER_SYST2015_tau25"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2015_1up_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2015_1down_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2016_tau25"
%  Title: "TauTRIGGER_SYST2016_tau25"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2016_1up_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2016_1down_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2017_tau25"
%  Title: "TauTRIGGER_SYST2017_tau25"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2017_1up_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2017_1down_TauEffSF_HLT_tau25_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2015_tau35"
%  Title: "TauTRIGGER_STATDATA2015_tau35"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2015_1up_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2015_1down_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2016_tau35"
%  Title: "TauTRIGGER_STATDATA2016_tau35"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2016_1up_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2016_1down_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2017_tau35"
%  Title: "TauTRIGGER_STATDATA2017_tau35"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2017_1up_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATDATA2017_1down_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2015_tau35"
%  Title: "TauTRIGGER_STATMC2015_tau35"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2015_1up_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2015_1down_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2016_tau35"
%  Title: "TauTRIGGER_STATMC2016_tau35"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2016_1up_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2016_1down_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2017_tau35"
%  Title: "TauTRIGGER_STATMC2017_tau35"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2017_1up_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_STATMC2017_1down_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2015_tau35"
%  Title: "TauTRIGGER_SYST2015_tau35"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2015_1up_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2015_1down_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2016_tau35"
%  Title: "TauTRIGGER_SYST2016_tau35"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2016_1up_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2016_1down_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2017_tau35"
%  Title: "TauTRIGGER_SYST2017_tau35"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2017_1up_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  HistoNameDown: "TAUS_TRUEHADTAU_EFF_TRIGGER_SYST2017_1down_TauEffSF_HLT_tau35_medium1_tracktwo_JETIDBDTMEDIUM"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TAUTRIGGER
%
%
%  Systematic: "TAUS_TRUEHADTAU_SME_TES_INSITU"
%  Title: "TAUS_SME_TES_INSITU"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_SME_TES_INSITU_1up"
%  HistoNameDown: "TAUS_TRUEHADTAU_SME_TES_INSITU_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TES
%
%  Systematic: "TAUS_TRUEHADTAU_SME_TES_MODEL"
%  Title: "TAUS_SME_TES_MODEL"
%  Type: HISTO
%  HistoNameUp: "TAUS_TRUEHADTAU_SME_TES_MODEL_1up"
%  HistoNameDown: "TAUS_TRUEHADTAU_SME_TES_MODEL_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: TES
%
%  Systematic: "JET_BJES_Response"
%  Title: "JET_BJES_Response"
%  Type: HISTO
%  HistoNameUp: "JET_BJES_Response_1up"
%  Symmetrisation: ONESIDED
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EffectiveNP_Detector1"
%  Title: "JET_EffectiveNP_Detector1"
%  Type: HISTO
%  HistoNameUp: "JET_EffectiveNP_Detector1_1up"
%  HistoNameDown: "JET_EffectiveNP_Detector1_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EffectiveNP_Detector2"
%  Title: "JET_EffectiveNP_Detector2"
%  Type: HISTO
%  HistoNameUp: "JET_EffectiveNP_Detector2_1up"
%  HistoNameDown: "JET_EffectiveNP_Detector2_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EffectiveNP_Mixed1"
%  Title: "JET_EffectiveNP_Mixed1"
%  Type: HISTO
%  HistoNameUp: "JET_EffectiveNP_Mixed1_1up"
%  HistoNameDown: "JET_EffectiveNP_Mixed1_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EffectiveNP_Mixed2"
%  Title: "JET_EffectiveNP_Mixed2"
%  Type: HISTO
%  HistoNameUp: "JET_EffectiveNP_Mixed2_1up"
%  HistoNameDown: "JET_EffectiveNP_Mixed2_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EffectiveNP_Mixed3"
%  Title: "JET_EffectiveNP_Mixed3"
%  Type: HISTO
%  HistoNameUp: "JET_EffectiveNP_Mixed3_1up"
%  HistoNameDown: "JET_EffectiveNP_Mixed3_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EffectiveNP_Modelling2"
%  Title: "JET_EffectiveNP_Modelling2"
%  Type: HISTO
%  HistoNameUp: "JET_EffectiveNP_Modelling2_1up"
%  HistoNameDown: "JET_EffectiveNP_Modelling2_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EffectiveNP_Modelling3"
%  Title: "JET_EffectiveNP_Modelling3"
%  Type: HISTO
%  HistoNameUp: "JET_EffectiveNP_Modelling3_1up"
%  HistoNameDown: "JET_EffectiveNP_Modelling3_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EffectiveNP_Modelling4"
%  Title: "JET_EffectiveNP_Modelling4"
%  Type: HISTO
%  HistoNameUp: "JET_EffectiveNP_Modelling4_1up"
%  HistoNameDown: "JET_EffectiveNP_Modelling4_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EffectiveNP_Statistical1"
%  Title: "JET_EffectiveNP_Statistical1"
%  Type: HISTO
%  HistoNameUp: "JET_EffectiveNP_Statistical1_1up"
%  HistoNameDown: "JET_EffectiveNP_Statistical1_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EffectiveNP_Statistical2"
%  Title: "JET_EffectiveNP_Statistical2"
%  Type: HISTO
%  HistoNameUp: "JET_EffectiveNP_Statistical2_1up"
%  HistoNameDown: "JET_EffectiveNP_Statistical2_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EffectiveNP_Statistical3"
%  Title: "JET_EffectiveNP_Statistical3"
%  Type: HISTO
%  HistoNameUp: "JET_EffectiveNP_Statistical3_1up"
%  HistoNameDown: "JET_EffectiveNP_Statistical3_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EffectiveNP_Statistical4"
%  Title: "JET_EffectiveNP_Statistical4"
%  Type: HISTO
%  HistoNameUp: "JET_EffectiveNP_Statistical4_1up"
%  HistoNameDown: "JET_EffectiveNP_Statistical4_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EffectiveNP_Statistical5"
%  Title: "JET_EffectiveNP_Statistical5"
%  Type: HISTO
%  HistoNameUp: "JET_EffectiveNP_Statistical5_1up"
%  HistoNameDown: "JET_EffectiveNP_Statistical5_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EffectiveNP_Statistical6"
%  Title: "JET_EffectiveNP_Statistical6"
%  Type: HISTO
%  HistoNameUp: "JET_EffectiveNP_Statistical6_1up"
%  HistoNameDown: "JET_EffectiveNP_Statistical6_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EtaIntercalibration_Modelling"
%  Title: "JET_EtaInter_Modelling"
%  Type: HISTO
%  HistoNameUp: "JET_EtaIntercalibration_Modelling_1up"
%  HistoNameDown: "JET_EtaIntercalibration_Modelling_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EtaIntercalibration_NonClosure_highE"
%  Title: "JET_EtaInter_NonClosure_highE"
%  Type: HISTO
%  HistoNameUp: "JET_EtaIntercalibration_NonClosure_highE_1up"
%  HistoNameDown: "JET_EtaIntercalibration_NonClosure_highE_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EtaIntercalibration_NonClosure_negEta"
%  Title: "JET_EtaInter_NonClosure_negEta"
%  Type: HISTO
%  HistoNameUp: "JET_EtaIntercalibration_NonClosure_negEta_1up"
%  HistoNameDown: "JET_EtaIntercalibration_NonClosure_negEta_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EtaIntercalibration_NonClosure_posEta"
%  Title: "JET_EtaInter_NonClosure_posEta"
%  Type: HISTO
%  HistoNameUp: "JET_EtaIntercalibration_NonClosure_posEta_1up"
%  HistoNameDown: "JET_EtaIntercalibration_NonClosure_posEta_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_EtaIntercalibration_TotalStat"
%  Title: "JET_EtaInter_TotalStat"
%  Type: HISTO
%  HistoNameUp: "JET_EtaIntercalibration_TotalStat_1up"
%  HistoNameDown: "JET_EtaIntercalibration_TotalStat_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_Flavor_Composition"
%  Title: "JET_Flavor_Composition"
%  Type: HISTO
%  HistoNameUp: "JET_Flavor_Composition_1up"
%  HistoNameDown: "JET_Flavor_Composition_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_Flavor_Response"
%  Title: "JET_Flavor_Response"
%  Type: HISTO
%  HistoNameUp: "JET_Flavor_Response_1up"
%  HistoNameDown: "JET_Flavor_Response_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_JER_DataVsMC_MC16"
%  Title: "JET_JER_DataVsMC_MC16"
%  Type: HISTO
%  HistoNameUp: "JET_JER_DataVsMC_MC16_1up"
%  Symmetrisation: ONESIDED
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JER
%
%  Systematic: "JET_JER_EffectiveNP_1"
%  Title: "JET_JER_1"
%  Type: HISTO
%  HistoNameUp: "JET_JER_EffectiveNP_1_1up"
%  HistoNameDown: "JET_JER_EffectiveNP_1_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JER
%
%  Systematic: "JET_JER_EffectiveNP_2"
%  Title: "JET_JER_2"
%  Type: HISTO
%  HistoNameUp: "JET_JER_EffectiveNP_2_1up"
%  HistoNameDown: "JET_JER_EffectiveNP_2_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JER
%
%  Systematic: "JET_JER_EffectiveNP_3"
%  Title: "JET_JER_3"
%  Type: HISTO
%  HistoNameUp: "JET_JER_EffectiveNP_3_1up"
%  HistoNameDown: "JET_JER_EffectiveNP_3_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JER
%
%  Systematic: "JET_JER_EffectiveNP_4"
%  Title: "JET_JER_4"
%  Type: HISTO
%  HistoNameUp: "JET_JER_EffectiveNP_4_1up"
%  HistoNameDown: "JET_JER_EffectiveNP_4_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JER
%
%  Systematic: "JET_JER_EffectiveNP_5"
%  Title: "JET_JER_5"
%  Type: HISTO
%  HistoNameUp: "JET_JER_EffectiveNP_5_1up"
%  HistoNameDown: "JET_JER_EffectiveNP_5_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JER
%
%  Systematic: "JET_JER_EffectiveNP_6"
%  Title: "JET_JER_6"
%  Type: HISTO
%  HistoNameUp: "JET_JER_EffectiveNP_6_1up"
%  HistoNameDown: "JET_JER_EffectiveNP_6_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JER
%
%  Systematic: "JET_JER_EffectiveNP_7restTerm"
%  Title: "JET_JER_7restTerm"
%  Type: HISTO
%  HistoNameUp: "JET_JER_EffectiveNP_7restTerm_1up"
%  HistoNameDown: "JET_JER_EffectiveNP_7restTerm_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JER
%
%  Systematic: "JET_Pileup_OffsetMu"
%  Title: "JET_Pileup_OffsetMu"
%  Type: HISTO
%  HistoNameUp: "JET_Pileup_OffsetMu_1up"
%  HistoNameDown: "JET_Pileup_OffsetMu_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_Pileup_OffsetNPV"
%  Title: "JET_Pileup_OffsetNPV"
%  Type: HISTO
%  HistoNameUp: "JET_Pileup_OffsetNPV_1up"
%  HistoNameDown: "JET_Pileup_OffsetNPV_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_Pileup_PtTerm"
%  Title: "JET_Pileup_PtTerm"
%  Type: HISTO
%  HistoNameUp: "JET_Pileup_PtTerm_1up"
%  HistoNameDown: "JET_Pileup_PtTerm_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_Pileup_RhoTopology"
%  Title: "JET_Pileup_RhoTopology"
%  Type: HISTO
%  HistoNameUp: "JET_Pileup_RhoTopology_1up"
%  HistoNameDown: "JET_Pileup_RhoTopology_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_PunchThrough_MC16"
%  Title: "JET_PunchThrough_MC16"
%  Type: HISTO
%  HistoNameUp: "JET_PunchThrough_MC16_1up"
%  HistoNameDown: "JET_PunchThrough_MC16_1down"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_SingleParticle_HighPt"
%  Title: "JET_SingleParticle_HighPt"
%  Type: HISTO
%  HistoNameUp: "JET_SingleParticle_HighPt_1up"
%  Symmetrisation: ONESIDED
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "JET_TILECORR_Uncertainty"
%  Title: "JET_TILECORR_Uncertainty"
%  Type: HISTO
%  HistoNameUp: "JET_TILECORR_Uncertainty_1up"
%  Symmetrisation: ONESIDED
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: JES
%
%  Systematic: "MET_SoftTrk_ResoPara"
%  Title:"MET_SoftTrk_ResoPara"
%  Type: HISTO
%  HistoNameUp: "MET_SoftTrk_ResoPara"
%  Samples: all
%  Smoothing: 40
%  Regions: reg2mtau1b3jos, reg2mtau1b2jos
%  Category: MET
%  Symmetrisation: ONESIDED
%
%  Systematic: "MET_SoftTrk_ResoPerp"
%  Title:"MET_SoftTrk_ResoPerp"
%  Type: HISTO
%  HistoNameUp: "MET_SoftTrk_ResoPerp"
%  Samples: all
%  Smoothing: 40
%  Regions: reg2mtau1b3jos, reg2mtau1b2jos
%  Category: MET
%  Symmetrisation: ONESIDED
%
%  Systematic: "MET_SoftTrk_Scale"
%  Title: "MET_SoftTrk_Scale"
%  Type: HISTO
%  HistoNameUp: "MET_SoftTrk_ScaleUp"
%  HistoNameDown: "MET_SoftTrk_ScaleDown"
%  Samples: all
%  Regions: "reg2mtau1b2jos", "reg2mtau1b3jos"
%  Category: MET
%  
