Job: "XXXjobname"
  Label: "#it{FCNC tqH H#rightarrow#tau^{+}#tau^{-}}"
  CmeLabel: "13 TeV"
  LumiLabel: "140 fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "trexinputs/XXXvariable/"
  DebugLevel: 0
  SystControlPlots: FALSE
  SystDataPlots: TRUE
  SystPruningShape: 0.01
  SystPruningNorm: 0.01
  SystLarge: 1
  CorrelationThreshold: 0.20
  RankingPlot: Systs
  RankingMaxNP: 30
  MCstatThreshold: 0.01
  StatOnly: False
  DoTables: FALSE
  ImageFormat: pdf
  HistoChecks: NOCRASH
  BlindSRs: TRUE
%  PlotOptions: "PREFITONPOSTFIT"
%  SystErrorBars: TRUE

Fit: "myFit"
  FitRegion: CRSR
  FitBlind: TRUE
  FitType: SPLUSB
  POIAsimov: 1
%  FitType: BONLY
%  POIAsimov: 0
  UseMinos: SigXsecOverSM
%  UseMinos: all
%  doLHscan: tau_trigger_L1jet,jet_jes_flavor_composition,btag_light_12

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: TRUE

Region: XXXregion
  Type: SIGNAL
  LogScale: XXXlog
  Rebin: XXXrebin
  VariableTitle: "XXXxaxis"
  Label:XXXlabel
  HistoPathSuff:XXXhistoPathSuff
  DataType: ASIMOV
  XXXBinning




Sample: "Data"
  Type: DATA
  Title: "Data"
  HistoFile: "data"
  HistoName: "NOMINAL"



Sample: "fake1truth"
  Type: BACKGROUND
  Title: "only #tau_{sub} real "
  FillColor: 43
  LineColor: 1
  HistoFile: "fake1truth"
  HistoName: "NOMINAL"

Sample: "tcH"
  Type: SIGNAL
  Title: "tcH"
  LineColor: 1
  FillColor: 2
  UseMCstat: FALSE
  HistoFile: "tcH"
  HistoName: "NOMINAL"

Sample: "tuH"
  Type: SIGNAL
  Title: "tuH"
  LineColor: 1
  FillColor: 2
  UseMCstat: FALSE
  HistoFile: "tuH"
  HistoName: "NOMINAL"

Sample: "fcnc_ch"
  Type: SIGNAL
  Title: "t\rightarrow cH"
  LineColor: 1
  FillColor: 2
  UseMCstat: FALSE
  HistoFile: "fcnc_ch"
  HistoName: "NOMINAL"

Sample: "fcnc_uh"
  Type: SIGNAL
  Title: "t\rightarrow uH"
  LineColor: 1
  FillColor: 2
  UseMCstat: FALSE
  HistoFile: "fcnc_uh"
  HistoName: "NOMINAL"

Sample: "fcnc_prod_ch"
  Type: SIGNAL
  Title: "cg\rightarrow tH"
  LineColor: 1
  FillColor: 2
  UseMCstat: FALSE
  HistoFile: "fcnc_prod_ch"
  HistoName: "NOMINAL"

Sample: "fcnc_prod_uh"
  Type: SIGNAL
  Title: "ug\rightarrow tH"
  LineColor: 1
  FillColor: 2
  UseMCstat: FALSE
  HistoFile: "fcnc_prod_uh"
  HistoName: "NOMINAL"

Sample: "diboson"
  Type: BACKGROUND
  Title: "Diboson"
  FillColor: 6
  LineColor: 1
  HistoFile: "diboson"
  HistoName: "NOMINAL"

Sample: "Fake"
  Type: BACKGROUND
  Title: "Fake #tau MC"
  FillColor: 7
  %LineColor: 1
  HistoFile: "Fake"
  HistoName: "NOMINAL"

Sample: "ttbar"
  Type: BACKGROUND
  Title: "#bar{t}t"
  FillColor: 400
  LineColor: 1
  HistoFile: "ttbar"
  HistoName: "NOMINAL"

Sample: "ztautau"
  Type: BACKGROUND
  Title: "Z#rightarrow#tau#tau"
  FillColor: 6
  LineColor: 1
  HistoFile: "ztautau"
  HistoName: "NOMINAL"

Sample: "ttV"
  Type: BACKGROUND
  Title: "#bar{t}tV"
  FillColor: 4
  LineColor: 1
  HistoFile: "ttV"
  HistoName: "NOMINAL"

Sample: "others"
  Type: BACKGROUND
  Title: "Rare"
  FillColor: 8
  LineColor: 1
  HistoFile: "others"
  HistoName: "NOMINAL"

Sample: "smhiggs"
  Type: BACKGROUND
  Title: "SM Higgs"
  FillColor: 11
  LineColor: 1
  HistoFile: "smhiggs"
  HistoName: "NOMINAL"

%Sample: "wjet"
 % Type: BACKGROUND
 % Title: "W+jets"
 % FillColor: 5
 % LineColor: 1
 % HistoFile: "wjet"
 % HistoName: "NOMINAL"

%Sample: "zll"
%  Type: BACKGROUND
%  Title: "Z#rightarrowee,#mu#mu"
%  FillColor: 95
%  LineColor: 1
%  HistoFile: "zll"
%  HistoName: "NOMINAL"

NormFactor: "SigXsecOverSM"
  Title: "#mu"
  Nominal: 1
  Min: -5
  Max: 30
  %Regions: all
  Regions:XXXregopt
  Samples: tcH, tuH, fcnc_ch, fcnc_uh, fcnc_prod_uh, fcnc_prod_ch



Systematic: "topMC"
Title: "only #tau_{sub} real modelling"
Type: OVERALL
OverallUp: 0.5
OverallDown: -0.5
Samples: fake1truth
Regions: XXXregopt
Category: FF
Symmetrisation: ONESIDED

Systematic: "FFNP_samesign"
Title: "FFNP_SS_CR"
Type: HISTO
HistoNameUp: "FFNP_samesign"
Samples: Fake
Regions: XXXregopt
Category: FF
Symmetrisation: ONESIDED

Systematic: "FFNP_sideband"
Title: "FFNP_OS_CR"
Type: HISTO
HistoNameUp: "FFNP_sideband"
Samples: Fake
Regions: XXXregopt
Category: FF
Symmetrisation: ONESIDED


Systematic: "FFNP_1prong_ptbin0_etabin0"
Title: "FFNP_1prong_ptbin0_etabin0"
Type: HISTO
HistoNameUp: "FFNP_1prong_ptbin0_etabin0_up"
Samples: Fake
Regions: XXXregopt
Category: FF
Symmetrisation: ONESIDED


Systematic: "FFNP_1prong_ptbin0_etabin1"
Title: "FFNP_1prong_ptbin0_etabin1"
Type: HISTO
HistoNameUp: "FFNP_1prong_ptbin0_etabin1_up"
Samples: Fake
Regions: XXXregopt
Category: FF
Symmetrisation: ONESIDED


Systematic: "FFNP_1prong_ptbin1_etabin0"
Title: "FFNP_1prong_ptbin1_etabin0"
Type: HISTO
HistoNameUp: "FFNP_1prong_ptbin1_etabin0_up"
Samples: Fake
Regions: XXXregopt
Category: FF
Symmetrisation: ONESIDED


Systematic: "FFNP_1prong_ptbin1_etabin1"
Title: "FFNP_1prong_ptbin1_etabin1"
Type: HISTO
HistoNameUp: "FFNP_1prong_ptbin1_etabin1_up"
Samples: Fake
Regions: XXXregopt
Category: FF
Symmetrisation: ONESIDED


Systematic: "FFNP_1prong_ptbin2_etabin0"
Title: "FFNP_1prong_ptbin2_etabin0"
Type: HISTO
HistoNameUp: "FFNP_1prong_ptbin2_etabin0_up"
Samples: Fake
Regions: XXXregopt
Category: FF
Symmetrisation: ONESIDED


Systematic: "FFNP_1prong_ptbin2_etabin1"
Title: "FFNP_1prong_ptbin2_etabin1"
Type: HISTO
HistoNameUp: "FFNP_1prong_ptbin2_etabin1_up"
Samples: Fake
Regions: XXXregopt
Category: FF
Symmetrisation: ONESIDED



Systematic: "FFNP_3prong_ptbin0_etabin0"
Title: "FFNP_3prong_ptbin0_etabin0"
Type: HISTO
HistoNameUp: "FFNP_3prong_ptbin0_etabin0_up"
Samples: Fake
Regions: XXXregopt
Category: FF
Symmetrisation: ONESIDED


Systematic: "FFNP_3prong_ptbin0_etabin1"
Title: "FFNP_3prong_ptbin0_etabin1"
Type: HISTO
HistoNameUp: "FFNP_3prong_ptbin0_etabin1_up"
Samples: Fake
Regions: XXXregopt
Category: FF
Symmetrisation: ONESIDED


Systematic: "FFNP_3prong_ptbin1_etabin0"
Title: "FFNP_3prong_ptbin1_etabin0"
Type: HISTO
HistoNameUp: "FFNP_3prong_ptbin1_etabin0_up"
Samples: Fake
Regions: XXXregopt
Category: FF
Symmetrisation: ONESIDED


Systematic: "FFNP_3prong_ptbin1_etabin1"
Title: "FFNP_3prong_ptbin1_etabin1"
Type: HISTO
HistoNameUp: "FFNP_3prong_ptbin1_etabin1_up"
Samples: Fake
Regions: XXXregopt
Category: FF
Symmetrisation: ONESIDED


Systematic: "FFNP_3prong_ptbin2_etabin0"
Title: "FFNP_3prong_ptbin2_etabin0"
Type: HISTO
HistoNameUp: "FFNP_3prong_ptbin2_etabin0_up"
Samples: Fake
Regions: XXXregopt
Category: FF
Symmetrisation: ONESIDED


Systematic: "FFNP_3prong_ptbin2_etabin1"
Title: "FFNP_3prong_ptbin2_etabin1"
Type: HISTO
HistoNameUp: "FFNP_3prong_ptbin2_etabin1_up"
Samples: Fake
Regions: XXXregopt
Category: FF
Symmetrisation: ONESIDED

Systematic: "PRW"
Title: "PRW"
Type: HISTO
HistoNameUp:   "PRW_up"
HistoNameDown: "PRW_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: Instrument

Systematic: "jvt"
Title: "jvt"
Type: HISTO
HistoNameUp:   "jvt_up"
HistoNameDown: "jvt_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JVT

Systematic: "btag_B_0"
Title: "btag_B_0"
Type: HISTO
HistoNameUp:   "btag_B_0_up"
HistoNameDown: "btag_B_0_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_B_0"
Title: "btag_B_0"
Type: HISTO
HistoNameUp:   "btag_B_0_up"
HistoNameDown: "btag_B_0_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_B_0"
Title: "btag_B_0"
Type: HISTO
HistoNameUp:   "btag_B_0_up"
HistoNameDown: "btag_B_0_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_B_1"
Title: "btag_B_1"
Type: HISTO
HistoNameUp:   "btag_B_1_up"
HistoNameDown: "btag_B_1_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_B_2"
Title: "btag_B_2"
Type: HISTO
HistoNameUp:   "btag_B_2_up"
HistoNameDown: "btag_B_2_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_B_3"
Title: "btag_B_3"
Type: HISTO
HistoNameUp:   "btag_B_3_up"
HistoNameDown: "btag_B_3_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_B_4"
Title: "btag_B_4"
Type: HISTO
HistoNameUp:   "btag_B_4_up"
HistoNameDown: "btag_B_4_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_B_5"
Title: "btag_B_5"
Type: HISTO
HistoNameUp:   "btag_B_5_up"
HistoNameDown: "btag_B_5_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_B_6"
Title: "btag_B_6"
Type: HISTO
HistoNameUp:   "btag_B_6_up"
HistoNameDown: "btag_B_6_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_B_7"
Title: "btag_B_7"
Type: HISTO
HistoNameUp:   "btag_B_7_up"
HistoNameDown: "btag_B_7_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_B_8"
Title: "btag_B_8"
Type: HISTO
HistoNameUp:   "btag_B_8_up"
HistoNameDown: "btag_B_8_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_C_0"
Title: "btag_C_0"
Type: HISTO
HistoNameUp:   "btag_C_0_up"
HistoNameDown: "btag_C_0_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_C_1"
Title: "btag_C_1"
Type: HISTO
HistoNameUp:   "btag_C_1_up"
HistoNameDown: "btag_C_1_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_C_2"
Title: "btag_C_2"
Type: HISTO
HistoNameUp:   "btag_C_2_up"
HistoNameDown: "btag_C_2_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_C_3"
Title: "btag_C_3"
Type: HISTO
HistoNameUp:   "btag_C_3_up"
HistoNameDown: "btag_C_3_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_Light_0"
Title: "btag_Light_0"
Type: HISTO
HistoNameUp:   "btag_Light_0_up"
HistoNameDown: "btag_Light_0_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_Light_1"
Title: "btag_Light_1"
Type: HISTO
HistoNameUp:   "btag_Light_1_up"
HistoNameDown: "btag_Light_1_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_Light_2"
Title: "btag_Light_2"
Type: HISTO
HistoNameUp:   "btag_Light_2_up"
HistoNameDown: "btag_Light_2_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_Light_3"
Title: "btag_Light_3"
Type: HISTO
HistoNameUp:   "btag_Light_3_up"
HistoNameDown: "btag_Light_3_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_Light_4"
Title: "btag_Light_4"
Type: HISTO
HistoNameUp:   "btag_Light_4_up"
HistoNameDown: "btag_Light_4_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_extrapolation"
Title: "btag_extrapolation"
Type: HISTO
HistoNameUp:   "btag_extrapolation_up"
HistoNameDown: "btag_extrapolation_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag

Systematic: "btag_extrapolation_from_charm"
Title: "btag_extrapolation_from_charm"
Type: HISTO
HistoNameUp:   "btag_extrapolation_from_charm_up"
HistoNameDown: "btag_extrapolation_from_charm_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: btag


Systematic: "tauRecon_TOTAL"
Title: "tauRecon_TOTAL"
Type: HISTO
HistoNameUp:   "tauRecon_TOTAL_up"
HistoNameDown: "tauRecon_TOTAL_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauRecon

Systematic: "tauEveto_TOTAL"
Title: "tauEveto_TOTAL"
Type: HISTO
HistoNameUp:   "tauEveto_TOTAL_up"
HistoNameDown: "tauEveto_TOTAL_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauEveto

Systematic: "MEDIUM_tauID_1P2025"
Title: "MEDIUM_tauID_1P2025"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_1P2025_up"
HistoNameDown: "MEDIUM_tauID_1P2025_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauID

Systematic: "MEDIUM_tauID_1P2530"
Title: "MEDIUM_tauID_1P2530"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_1P2530_up"
HistoNameDown: "MEDIUM_tauID_1P2530_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauID

Systematic: "MEDIUM_tauID_1P3040"
Title: "MEDIUM_tauID_1P3040"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_1P3040_up"
HistoNameDown: "MEDIUM_tauID_1P3040_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauID

Systematic: "MEDIUM_tauID_1PGE40"
Title: "MEDIUM_tauID_1PGE40"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_1PGE40_up"
HistoNameDown: "MEDIUM_tauID_1PGE40_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauID



Systematic: "MEDIUM_tauID_3P2025"
Title: "MEDIUM_tauID_3P2025"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_3P2025_up"
HistoNameDown: "MEDIUM_tauID_3P2025_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauID

Systematic: "MEDIUM_tauID_3P2530"
Title: "MEDIUM_tauID_3P2530"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_3P2530_up"
HistoNameDown: "MEDIUM_tauID_3P2530_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauID

Systematic: "MEDIUM_tauID_3P3040"
Title: "MEDIUM_tauID_3P3040"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_3P3040_up"
HistoNameDown: "MEDIUM_tauID_3P3040_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauID

Systematic: "MEDIUM_tauID_3PGE40"
Title: "MEDIUM_tauID_3PGE40"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_3PGE40_up"
HistoNameDown: "MEDIUM_tauID_3PGE40_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauID

Systematic: "MEDIUM_tauID_HIGHPT"
Title: "MEDIUM_tauID_HIGHPT"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_HIGHPT_up"
HistoNameDown: "MEDIUM_tauID_HIGHPT_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauID

Systematic: "MEDIUM_tauID_SYST"
Title: "MEDIUM_tauID_SYST"
Type: HISTO
HistoNameUp:   "MEDIUM_tauID_SYST_up"
HistoNameDown: "MEDIUM_tauID_SYST_down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauID

Systematic: "tauTrigger_STATDATA2018"
Title: "tauTrigger_STATDATA2018"
Type: HISTO
HistoNameUp:   "tauTrigger_STATDATA2018up"
HistoNameDown: "tauTrigger_STATDATA2018down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauTrigger

Systematic: "tauTrigger_STATMC2018"
Title: "tauTrigger_STATMC2018"
Type: HISTO
HistoNameUp:   "tauTrigger_STATMC2018up"
HistoNameDown: "tauTrigger_STATMC2018down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauTrigger

Systematic: "tauTrigger_SYST2018"
Title: "tauTrigger_SYST2018"
Type: HISTO
HistoNameUp:   "tauTrigger_SYST2018up"
HistoNameDown: "tauTrigger_SYST2018down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauTrigger



Systematic: "tauTrigger_SYSTMU2018"
Title: "tauTrigger_SYSTMU2018"
Type: HISTO
HistoNameUp:   "tauTrigger_SYSTMU2018up"
HistoNameDown: "tauTrigger_SYSTMU2018down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauTrigger

Systematic: "tauTrigger_STATDATA161718"
Title: "tauTrigger_STATDATA161718"
Type: HISTO
HistoNameUp:   "tauTrigger_STATDATA161718up"
HistoNameDown: "tauTrigger_STATDATA161718down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauTrigger

Systematic: "tauTrigger_STATMC161718"
Title: "tauTrigger_STATMC161718"
Type: HISTO
HistoNameUp:   "tauTrigger_STATMC161718up"
HistoNameDown: "tauTrigger_STATMC161718down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauTrigger

Systematic: "tauTrigger_SYST161718"
Title: "tauTrigger_SYST161718"
Type: HISTO
HistoNameUp:   "tauTrigger_SYST161718up"
HistoNameDown: "tauTrigger_SYST161718down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauTrigger

Systematic: "tauTrigger_SYSTMU161718"
Title: "tauTrigger_SYSTMU161718"
Type: HISTO
HistoNameUp:   "tauTrigger_SYSTMU161718up"
HistoNameDown: "tauTrigger_SYSTMU161718down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: tauTrigger


Systematic: "TES_INSITUFIT"
Title: "TES_INSITUFIT"
Type: HISTO
HistoNameUp: "TES_INSITUFIT_1up"
HistoNameDown: "TES_INSITUFIT_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: TES

Systematic: "TES_DETECTOR"
Title: "TES_DETECTOR"
Type: HISTO
HistoNameUp: "TES_DETECTOR_1up"
HistoNameDown: "TES_DETECTOR_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: TES

Systematic: "TES_MODEL_CLOSURE"
Title: "TES_MODEL_CLOSURE"
Type: HISTO
HistoNameUp: "TES_MODEL_CLOSURE_1up"
HistoNameDown: "TES_MODEL_CLOSURE_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: TES

Systematic: "TES_INSITUEXP"
Title: "TES_INSITUEXP"
Type: HISTO
HistoNameUp: "TES_INSITUEXP_1up"
HistoNameDown: "TES_INSITUEXP_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: TES

Systematic: "TES_PHYSICSLIST"
Title: "TES_PHYSICSLIST"
Type: HISTO
HistoNameUp: "TES_PHYSICSLIST_1up"
HistoNameDown: "TES_PHYSICSLIST_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: TES

Systematic: "JES_Detector1"
Title: "JES_Detector1"
Type: HISTO
HistoNameUp: "JES_Detector1_1up"
HistoNameDown: "JES_Detector1_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JES_Detector2"
Title: "JES_Detector2"
Type: HISTO
HistoNameUp: "JES_Detector2_1up"
HistoNameDown: "JES_Detector2_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JES_Mixed1"
Title: "JES_Mixed1"
Type: HISTO
HistoNameUp: "JES_Mixed1_1up"
HistoNameDown: "JES_Mixed1_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JES_Mixed2"
Title: "JES_Mixed2"
Type: HISTO
HistoNameUp: "JES_Mixed2_1up"
HistoNameDown: "JES_Mixed2_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JES_Mixed3"
Title: "JES_Mixed3"
Type: HISTO
HistoNameUp: "JES_Mixed3_1up"
HistoNameDown: "JES_Mixed3_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JES_Modelling1"
Title: "JES_Modelling1"
Type: HISTO
HistoNameUp: "JES_Modelling1_1up"
HistoNameDown: "JES_Modelling1_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JES_Modelling2"
Title: "JES_Modelling2"
Type: HISTO
HistoNameUp: "JES_Modelling2_1up"
HistoNameDown: "JES_Modelling2_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JES_Modelling3"
Title: "JES_Modelling3"
Type: HISTO
HistoNameUp: "JES_Modelling3_1up"
HistoNameDown: "JES_Modelling3_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JES_Modelling4"
Title: "JES_Modelling4"
Type: HISTO
HistoNameUp: "JES_Modelling4_1up"
HistoNameDown: "JES_Modelling4_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JES_Statistical1"
Title: "JES_Statistical1"
Type: HISTO
HistoNameUp: "JES_Statistical1_1up"
HistoNameDown: "JES_Statistical1_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JES_Statistical2"
Title: "JES_Statistical2"
Type: HISTO
HistoNameUp: "JES_Statistical2_1up"
HistoNameDown: "JES_Statistical2_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JES_Statistical3"
Title: "JES_Statistical3"
Type: HISTO
HistoNameUp: "JES_Statistical3_1up"
HistoNameDown: "JES_Statistical3_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JES_Statistical4"
Title: "JES_Statistical4"
Type: HISTO
HistoNameUp: "JES_Statistical4_1up"
HistoNameDown: "JES_Statistical4_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JES_Statistical5"
Title: "JES_Statistical5"
Type: HISTO
HistoNameUp: "JES_Statistical5_1up"
HistoNameDown: "JES_Statistical5_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JES_Statistical6"
Title: "JES_Statistical6"
Type: HISTO
HistoNameUp: "JES_Statistical6_1up"
HistoNameDown: "JES_Statistical6_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JER_1"
Title: "JER_1"
Type: HISTO
HistoNameUp: "JER_1_1up"
HistoNameDown: "JER_1_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JER

Systematic: "JER_2"
Title: "JER_2"
Type: HISTO
HistoNameUp: "JER_2_1up"
HistoNameDown: "JER_2_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JER

Systematic: "JER_3"
Title: "JER_3"
Type: HISTO
HistoNameUp: "JER_3_1up"
HistoNameDown: "JER_3_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JER

Systematic: "JER_4"
Title: "JER_4"
Type: HISTO
HistoNameUp: "JER_4_1up"
HistoNameDown: "JER_4_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JER

Systematic: "JER_5"
Title: "JER_5"
Type: HISTO
HistoNameUp: "JER_5_1up"
HistoNameDown: "JER_5_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JER

Systematic: "JER_6"
Title: "JER_6"
Type: HISTO
HistoNameUp: "JER_6_1up"
HistoNameDown: "JER_6_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JER

Systematic: "JER_7restTerm"
Title: "JER_7restTerm"
Type: HISTO
HistoNameUp: "JER_7restTerm_1up"
HistoNameDown: "JER_7restTerm_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JER

Systematic: "JET_JER_DataVsMC_MC16"
Title: "JET_JER_DataVsMC_MC16"
Type: HISTO
HistoNameUp: "JET_JER_DataVsMC_MC16_1up"
HistoNameDown: "JET_JER_DataVsMC_MC16_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JER

Systematic: "JET_BJES_Response"
Title: "JET_BJES_Response"
Type: HISTO
HistoNameUp: "JET_BJES_Response_1up"
HistoNameDown: "JET_BJES_Response_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JET_Flavor_Composition"
Title: "JET_Flavor_Composition"
Type: HISTO
HistoNameUp: "JET_Flavor_Composition_1up"
HistoNameDown: "JET_Flavor_Composition_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JET_Flavor_Response"
Title: "JET_Flavor_Response"
Type: HISTO
HistoNameUp: "JET_Flavor_Response_1up"
HistoNameDown: "JET_Flavor_Response_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JET_Pileup_RhoTopology"
Title: "JET_Pileup_RhoTopology"
Type: HISTO
HistoNameUp: "JET_Pileup_RhoTopology_1up"
HistoNameDown: "JET_Pileup_RhoTopology_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JET_Pileup_OffsetMu"
Title: "JET_Pileup_OffsetMu"
Type: HISTO
HistoNameUp: "JET_Pileup_OffsetMu_1up"
HistoNameDown: "JET_Pileup_OffsetMu_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JET_Pileup_OffsetNPV"
Title: "JET_Pileup_OffsetNPV"
Type: HISTO
HistoNameUp: "JET_Pileup_OffsetNPV_1up"
HistoNameDown: "JET_Pileup_OffsetNPV_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JET_Pileup_PtTerm"
Title: "JET_Pileup_PtTerm"
Type: HISTO
HistoNameUp: "JET_Pileup_PtTerm_1up"
HistoNameDown: "JET_Pileup_PtTerm_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JET_EtaInt_TotalStat"
Title: "JET_EtaInt_TotalStat"
Type: HISTO
HistoNameUp: "JET_EtaInt_TotalStat_1up"
HistoNameDown: "JET_EtaInt_TotalStat_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JET_EtaInt_NonClosure_2018data"
Title: "JET_EtaInt_NonClosure_2018data"
Type: HISTO
HistoNameUp: "JET_EtaInt_NonClosure_2018data_1up"
HistoNameDown: "JET_EtaInt_NonClosure_2018data_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JET_EtaInt_NonClosure_negEta"
Title: "JET_EtaInt_NonClosure_negEta"
Type: HISTO
HistoNameUp: "JET_EtaInt_NonClosure_negEta_1up"
HistoNameDown: "JET_EtaInt_NonClosure_negEta_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JET_EtaInt_Modelling"
Title: "JET_EtaInt_Modelling"
Type: HISTO
HistoNameUp: "JET_EtaInt_Modelling_1up"
HistoNameDown: "JET_EtaInt_Modelling_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JET_EtaInt_NonClosure_highE"
Title: "JET_EtaInt_NonClosure_highE"
Type: HISTO
HistoNameUp: "JET_EtaInt_NonClosure_highE_1up"
HistoNameDown: "JET_EtaInt_NonClosure_highE_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JET_EtaInt_NonClosure_posEta"
Title: "JET_EtaInt_NonClosure_posEta"
Type: HISTO
HistoNameUp: "JET_EtaInt_NonClosure_posEta_1up"
HistoNameDown: "JET_EtaInt_NonClosure_posEta_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JET_PunchThrough_MC16"
Title: "JET_PunchThrough_MC16"
Type: HISTO
HistoNameUp: "JET_PunchThrough_MC16_1up"
HistoNameDown: "JET_PunchThrough_MC16_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JET_SingleParticle_HighPt"
Title: "JET_SingleParticle_HighPt"
Type: HISTO
HistoNameUp: "JET_SingleParticle_HighPt_1up"
HistoNameDown: "JET_SingleParticle_HighPt_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "JET_TILECORR_Uncertainty"
Title: "JET_TILECORR_Uncertainty"
Type: HISTO
HistoNameUp: "JET_TILECORR_Uncertainty_1up"
HistoNameDown: "JET_TILECORR_Uncertainty_1down"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: JES

Systematic: "MET_SoftTrk_ResoPara"
Title: "MET_SoftTrk_ResoPara"
Type: HISTO
HistoNameUp: "MET_SoftTrk_ResoPara"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: MET
Symmetrisation: ONESIDED

Systematic: "MET_SoftTrk_ResoPerp"
Title: "MET_SoftTrk_ResoPerp"
Type: HISTO
HistoNameUp: "MET_SoftTrk_ResoPerp"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: MET
Symmetrisation: ONESIDED

Systematic: "MET_SoftTrk_Scale"
Title: "MET_SoftTrk_Scale"
Type: HISTO
HistoNameUp: "MET_SoftTrk_Scale_1up"
Samples: all
Regions: reg2mtau1b2jos_vetobtagwp70_highmet, reg2mtau1b3jos_vetobtagwp70_highmet
Category: MET

Systematic: "LumiUncertainty"
Title: "LumiUncertainty"
Type: OVERALL
OverallUp: 0.017
OverallDown: -0.017
Samples: All
Regions: reg2mtau1b3jos_vetobtagwp70_highmet, reg2mtau1b2jos_vetobtagwp70_highmet
Category: Lumi

Systematic: "zttXsec"
Title: "Ztautau theory Xsec"
Type: OVERALL
OverallUp: 0.022
OverallDown: -0.029
Samples: ztautau
Regions: reg2mtau1b3jos_vetobtagwp70_highmet, reg2mtau1b2jos_vetobtagwp70_highmet
Category: Theory

Systematic: "topXsec"
Title: "top theory Xsec"
Type: OVERALL
OverallUp: 0.023768876
OverallDown: -0.035106281
Samples: ttbar, others, fake1truth
Regions: reg2mtau1b3jos_vetobtagwp70_highmet, reg2mtau1b2jos_vetobtagwp70_highmet
Category: Theory